<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form [formGroup]="roleForm" #form="ngForm">
                    <h5 class="card-title">Rolewise Access</h5>
                    <div class="row">
                        <div class="col-md-3 position-relative form-group">
                            <label class="">User Role <span class="mandatory">*</span></label>
                            <select class="mb-2 form-control" tabindex="3" formControlName="role">
                                <option *ngFor="let uiUserRole of uiUserRoles" [ngValue]="uiUserRole.id">
                                    {{uiUserRole.userRole}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="position-relative form-group">
                            <div style="border: 1px solid #ebe8e8; padding: 10px;" class="col-md-3">
                                <div class="custom-checkbox custom-control" *ngFor="let uiModule of uiModules">
                                    <input type="checkbox" id="uiModule.id" class="custom-control-input" [checked]="uiModule.value">
                                    <label class="custom-control-label" for="uiModule.id" 
                                    (click)="changeModuleAccess(uiModule)">{{uiModule.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 position-relative">
                            <button type="button" class="mt-1 btn btn-primary" tabindex="7"
                                (click)="saveRoleAccess()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>