<form [formGroup]="cashierReceiptForm" #form="ngForm">

    <div class="customPageSubSections">
        <div class="customPageSubSectionsHead1">
            <div class="customPageSubSectionsHeadTitle2">Search Account</div> 
            <app-bank-acc-search [generalLedgers]="uiFilteredGeneralLedgers" [uiBranches]="uiBranches"
                            [isReset]="isResetAccountSearch"  (accounts)="getAccounts($event)" style="width: 100%;">
            </app-bank-acc-search>
        </div>
    </div>

      <div class="customPageSubSections">
        <div class="customPageSubSectionsHead1">
            <div class="customPageSubSectionsHeadTitle2">Account Details</div> 

             <div class="accountSectionInfoR1">
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Customer Name :</label>
                        <label class="commonTextTitleLabelValue">{{customerName.value}}</label>
                    </div>
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Account Number :</label>
                        <label class="commonTextTitleLabelValue">{{accountNumber.value}}</label>
                    </div>
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Account Type :</label>
                        <label class="commonTextTitleLabelValue">{{accountType.value}}</label>
                    </div>

                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Last Transaction Date : </label>
                        <label class="commonTextTitleLabelValue">{{lastTransactionDate.value}}</label>
                    </div>

                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Last Interest Date :</label>
                        <label class="commonTextTitleLabelValue">{{lastInterestDate.value}}</label>
                    </div>
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Opening Date :</label>
                        <label class="commonTextTitleLabelValue">{{openDate.value}}</label>
                    </div>
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Interest Rate :</label>
                        <label class="commonTextTitleLabelValue">{{interestRate.value}}</label>
                    </div>
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Balance :</label>
                        <label class="commonTextTitleLabelValue">{{balance.value}}</label>
                    </div>
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Min Balance :</label>
                        <label class="commonTextTitleLabelValue">{{minBalance.value}}</label>
                    </div>

                    <div class="informationSection1" [ngClass]="{'blink': (unclearedReceipt.value > 0)}">
                        <label class="commonTextTitleLabel">Uncleared Receipt Amount :</label>
                        <label class="commonTextTitleLabelValue">{{unclearedReceipt.value}}</label>
                    </div>
                    <div  class="informationSection1" [ngClass]="{' blink':(unclearedPayment.value > 0)}">
                        <label class="commonTextTitleLabel">Uncleared Payment Amount :</label>
                        <label class="commonTextTitleLabelValue">{{unclearedPayment.value}}</label>
                    </div>
                    
            </div>
            
           
        </div>
    </div>

    <div class="customPageSubSections">
        <div class="customPageSubSectionsHead1">
            <div class="customPageSubSectionsHeadTitle2">Transaction Details</div> 
             <div class="accountSectionInfoR1">
                <div class="accountSectionInfoData">
                    <div class="filterActControlSection">
                        <label  class="commonTextTitleLabel">Transaction Amount </label>
                        <input tabindex="28" type="number" class="form-control" placeholder="Amount"
                            formControlName="receiptAmount" (change)="updateBalance($event)">
                    </div>
                    <div class="filterActControlSection">
                        <label  class="commonTextTitleLabel">Transaction Description </label>
                        <input tabindex="28" type="text" class="form-control" placeholder="Reason"
                            formControlName="receiptDesc">
                    </div>
                    <div class="filterActControlSection">
                        <label  class="commonTextTitleLabel">Account Balance Will be </label>
                        <input tabindex="28" type="number" class="form-control" readonly
                            formControlName="balanceWillBe">
                    </div>
    
                    <div class="filterActControlSection1">
                        <!-- <button class="btn btn-success" tabindex="2" data-toggle="modal" data-target="#cashDenominationModel">
                            Denomination</button> -->
                        <button class="btn btn-success" tabindex="2" (click)="openDenominations()"
                        *ngIf="isCashierUser()">
                            Add Denomination</button>
                    </div>
                </div>   

                <div class="page-section-tablecontent">  
                    <label class="form_label_forControlSubTitle">Denominations</label>                         
                    <table class="mb-0 table table-striped">                       
                        <thead>
                            <tr role="row">
                                <th style="width: 5%;">Nos</th>
                                <th style="width: 15%;">Denomination</th>
                                <th style="width: 20%;">Number (Receipt)</th>
                                <th style="width: 20%;">Receipt Total</th>
                                <th style="width: 20%;">Number (Payment)</th>
                                <th style="width: 17%;">Payment Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row"
                                *ngFor="let uiTransactionDenomination of uiTransactionDenominations; let ind=index">
                                <td>{{ind + 1}}</td>
                                <td>{{uiTransactionDenomination.denomination_Label}}</td>
                                <td>{{uiTransactionDenomination.receiptNumber}}</td>
                                <td>{{uiTransactionDenomination.receiptTotal}}</td>
                                <td>{{uiTransactionDenomination.paymentNumber}}</td>
                                <td>{{uiTransactionDenomination.paymentTotal}}</td>
                            </tr>
                            <tr *ngIf="uiTransactionDenominations.length==0">
                                <td class="noRecordFoundText" colspan="9">No denominations found..</td>
                            </tr>
                        </tbody>
                    </table>
                </div>              
    
                <div class="actionBtnBelowTableSection">
                    <button class="btn action-InfoBtn"  *ngIf="isCashierUser()">
                        Customer Identity</button>
                </div>
            </div>
        </div>

    </div>

    <div class="actionableFooterSection">
        <button class="btn action-primatryBtn" tabindex="2" (click)="makeTransaction()" 
        
        *ngIf="isCashierUser()">
            Finish Transaction</button>
    
        <button class="btn btn-danger" tabindex="2" (click)="clearTransaction()"
        *ngIf="isCashierUser()">
            Clear</button>
    </div>
</form>

<app-denominations #denominationModal [denominationAmount]="receiptAmount.value" [transactionType]="transactionType"
    (addedDenominations)="setDenominations($event)"></app-denominations>

<app-message-box #messageBoxModal [messageNotes]="messageNotes"
    (onConfirm)="onTransactionConfirmed($event)"></app-message-box>