<div class="row">
    <div class="col-lg-12">

        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 position-relative">
                        <h5 class="card-title">Branches</h5>
                    </div>
                    <div class="col-md-6 position-relative">
                        <button class="mt-1 btn btn-primary float-right" (click)="add('branch')">Add Branch</button>
                    </div>
                </div>
                <table class="mb-0 table table-striped">
                    <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th width="25%">Name</th>
                            <th width="10%">Town</th>
                            <th width="10%">District</th>
                            <th width="15%">Phone</th>
                            <th width="15%">Email</th>
                            <th width="10%">Zone</th>
                            <th width="10%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let uiBranch of uiBranches| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
                            <th scope="row">{{uiBranch.id}}</th>
                            <td>{{uiBranch.name}}</td>
                            <td>{{uiBranch.town}}</td>
                            <td>{{uiBranch.districtName}}</td>
                            <td>{{uiBranch.phone}}</td>
                            <td>{{uiBranch.emailId}}</td>
                            <td>{{uiBranch.sZone}}</td>
                            <td>
                                <div class="widget-content-right">
                                    <button type="button" title="Edit record" class="btn-shadow btn btn-info btn-actions" (click)="edit(uiBranch)">
                                        <span class="btn-icon-wrapper opacity-10">
                                            <i class="fa fa-edit fa-w-10"></i>
                                        </span>
                                    </button>
                                    <button type="button" title="Delete record" class="btn-shadow btn btn-danger btn-actions" data-toggle="modal"
                                    data-target="#deleteModal" (click)="delete(uiBranch)">
                                        <span class="btn-icon-wrapper opacity-10">
                                            <i class="fa fa-trash fa-w-20"></i>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
              </div>
        </div>

    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
aria-hidden="true"
    data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Are you sure do you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete()">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cancelDelete()">No</button>
            </div>
        </div>
    </div>
</div>