<div class="row">
    <div class="col-lg-12">

        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 position-relative">
                        <h5 class="card-title">Priorities</h5>
                    </div>
                    <div class="col-md-6 position-relative">
                        <button class="mt-1 btn btn-primary float-right" (click)="configClick('new-priority')">Add Priority</button>
                    </div>
                </div>
                <table class="mb-0 table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                <div class="widget-content-right">
                                    <button type="button" title="Edit record" class="btn-shadow btn btn-info btn-actions">
                                        <span class="btn-icon-wrapper opacity-10">
                                            <i class="fa fa-edit fa-w-10"></i>
                                        </span>
                                    </button>
                                    <button type="button" title="Delete record" class="btn-shadow btn btn-danger btn-actions">
                                        <span class="btn-icon-wrapper opacity-10">
                                            <i class="fa fa-trash fa-w-20"></i>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>
                                <div class="widget-content-right">
                                    <button type="button" title="Edit record" class="btn-shadow btn btn-info btn-actions">
                                        <span class="btn-icon-wrapper opacity-10">
                                            <i class="fa fa-edit fa-w-10"></i>
                                        </span>
                                    </button>
                                    <button type="button" title="Delete record" class="btn-shadow btn btn-danger btn-actions">
                                        <span class="btn-icon-wrapper opacity-10">
                                            <i class="fa fa-trash fa-w-20"></i>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>
                                <div class="widget-content-right">
                                    <button type="button" title="Edit record" class="btn-shadow btn btn-info btn-actions">
                                        <span class="btn-icon-wrapper opacity-10">
                                            <i class="fa fa-edit fa-w-10"></i>
                                        </span>
                                    </button>
                                    <button type="button" title="Delete record" class="btn-shadow btn btn-danger btn-actions">
                                        <span class="btn-icon-wrapper opacity-10">
                                            <i class="fa fa-trash fa-w-20"></i>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>