<div class="row">
    <div class="col-lg-12">

        <div class="main-card mb-3 card">
            <div class="card-body">

                <h5 class="card-title">Members</h5>
                <form [formGroup]="memberForm" #form="ngForm">
                    <div class="row">
                        <div class="col-md-3 position-relative">
                            <label for="txtCode" class="">Member number</label>
                            <div class="input-group">
                                <input tabindex="1" type="text" class="form-control" readonly
                                    formControlName="memberCode">
                            </div>
                        </div>

                    </div>
                </form>
                <ul class="nav nav-tabs" style="margin-top: 20px;">
                    <li class="nav-item">
                        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                            <span>Personal Details</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                            <span>Nomini</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2">
                            <span>Divident</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-3">
                            <span>Image</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <form [formGroup]="personalDetailsForm" #form="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row">
                                            <div class="col-md-2 position-relative">
                                                <label for="txtCode" class="">Title</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="2" formControlName="personalTitle">
                                                    <option *ngFor="let uiTitle of uiTitles"
                                                        [ngValue]="uiTitle.code">
                                                        {{uiTitle.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative">
                                                <label for="txtCode" class="">First name</label>
                                                <input tabindex="3" type="text" class="form-control"
                                                    formControlName="personalFirstName">
                                            </div>
                                            <div class="col-md-2 position-relative">
                                                <label for="txtCode" class="">Middle name</label>
                                                <input tabindex="4" type="text" class="form-control"
                                                    formControlName="personalMiddleName">
                                            </div>
                                            <div class="col-md-2 position-relative">
                                                <label for="txtCode" class="">Last name</label>
                                                <input tabindex="5" type="text" class="form-control"
                                                    formControlName="personalLastName">
                                            </div>
                                            
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Date of birth</label>
                                                <input tabindex="6" type="date" class="form-control"
                                                (change)="onPersonalDOBChange($event)" 
                                                formControlName="personalDateOfBirth"
                                                [max]="maxDate | date:'yyyy-MM-dd'">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Age</label>
                                                <input tabindex="7" type="text" class="form-control"
                                                    formControlName="personalAge">
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                           
                                            <div class="col-md-6 position-relative">
                                                <label for="txtCode" class="">Address</label>
                                                <input tabindex="8" type="text" class="form-control"
                                                    formControlName="personalAddress">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">State</label>
                                                <select class="mb-2 form-control" (change)="onAddressStateChange($event)" 
                                                    tabindex="9" formControlName="personalState">
                                                    <option *ngFor="let uiAddressState of uiAddressStates"
                                                        [ngValue]="uiAddressState.id">
                                                        {{uiAddressState.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">District</label>
                                                <select class="mb-2 form-control" (change)="onAddressDistrictChange($event)"
                                                    tabindex="10" formControlName="personalDistrict">
                                                    <option *ngFor="let uiAddressDistrict of uiAddressDistricts"
                                                        [ngValue]="uiAddressDistrict.id">
                                                        {{uiAddressDistrict.name}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Tahsil</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="11" formControlName="personalTahsil">
                                                    <option *ngFor="let uiAddressTahshil of uiAddressTahshils"
                                                        [ngValue]="uiAddressTahshil.id">
                                                        {{uiAddressTahshil.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Pincode</label>
                                                <input tabindex="12" type="text" class="form-control"
                                                    formControlName="personalPincode">
                                            </div>
                                            <div class="col-md-2 position-relative">
                                                <label for="txtCode" class="">Phone</label>
                                                <input tabindex="13" type="text" class="form-control"
                                                    formControlName="personalPhone">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Gender</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="14" formControlName="personalGender">
                                                    <option *ngFor="let uiGender of uiGenders" [ngValue]="uiGender.code">
                                                        {{uiGender.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Occupation</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="15" formControlName="personalOccupation">
                                                    <option *ngFor="let uiOccupation of uiOccupations"
                                                        [ngValue]="uiOccupation.id">
                                                        {{uiOccupation.branchMasterName}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Cast</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="16" formControlName="personalCast">
                                                    <option *ngFor="let uiCast of uiCasts"
                                                        [ngValue]="uiCast.id">
                                                        {{uiCast.branchMasterName}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Director</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="17" formControlName="personalDirector">
                                                    <option *ngFor="let uiOccupation of uiOccupations"
                                                        [ngValue]="uiOccupation.id">
                                                        {{uiOccupation.branchMasterName}}
                                                    </option>
                                                </select>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Account Number</label>
                                                <input tabindex="18" type="text" class="form-control"
                                                    formControlName="personalAccountNumber">
                                            </div>

                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">A/c open date</label>
                                                <input tabindex="19" type="date" class="form-control"
                                                formControlName="personalAccountopenDate">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Authorised by</label>
                                                <input tabindex="20" type="text" class="form-control"
                                                    formControlName="personalAuthorisedBy">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Email</label>
                                                <input tabindex="20" type="text" class="form-control"
                                                    formControlName="personalEmail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                        <form [formGroup]="nominiForm" #form="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row">

                                            <div class="col-md-2 position-relative">
                                                <label for="txtCode" class="">Title</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="21" formControlName="personalTitle">
                                                    <option *ngFor="let uiTitle of uiTitles"
                                                        [ngValue]="uiTitle.code">
                                                        {{uiTitle.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative">
                                                <label for="txtCode" class="">First name</label>
                                                <input tabindex="22" type="text" class="form-control"
                                                    formControlName="personalFirstName">
                                            </div>
                                            <div class="col-md-2 position-relative">
                                                <label for="txtCode" class="">Middle name</label>
                                                <input tabindex="23" type="text" class="form-control"
                                                    formControlName="personalMiddleName">
                                            </div>
                                            <div class="col-md-2 position-relative">
                                                <label for="txtCode" class="">Last name</label>
                                                <input tabindex="24" type="text" class="form-control"
                                                    formControlName="personalLastName">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Gender</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="25" formControlName="personalGender">
                                                    <option *ngFor="let uiGender of uiGenders" [ngValue]="uiGender.code">
                                                        {{uiGender.name}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Relation</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="26" formControlName="personalGender">
                                                    <option *ngFor="let uiRelation of uiRelations" [ngValue]="uiRelation.code">
                                                        {{uiRelation.branchMasterName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Flat/Building/Street</label>
                                                <input tabindex="27" type="text" class="form-control"
                                                    formControlName="addressBuilding">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">City/Town</label>
                                                <input tabindex="28" type="text" class="form-control"
                                                    formControlName="addressCity">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">State</label>
                                                <select class="mb-2 form-control" (change)="onAddressStateChange($event)" 
                                                    tabindex="29" formControlName="addressState">
                                                    <option *ngFor="let uiAddressState of uiAddressStates"
                                                        [ngValue]="uiAddressState.id">
                                                        {{uiAddressState.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">District</label>
                                                <select class="mb-2 form-control" (change)="onAddressDistrictChange($event)"
                                                    tabindex="30" formControlName="addressDistrict">
                                                    <option *ngFor="let uiAddressDistrict of uiAddressDistricts"
                                                        [ngValue]="uiAddressDistrict.id">
                                                        {{uiAddressDistrict.name}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Tahsil</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="31" formControlName="addressTahsil">
                                                    <option *ngFor="let uiAddressTahshil of uiAddressTahshils"
                                                        [ngValue]="uiAddressTahshil.id">
                                                        {{uiAddressTahshil.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Pincode</label>
                                                <input tabindex="32" type="text" class="form-control"
                                                    formControlName="addressPincode">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Nomini given date</label>
                                                <input tabindex="33" type="text" class="form-control"
                                                    formControlName="addressPincode"
                                                    [max]="maxDate | date:'yyyy-MM-dd'">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Nomini share percentage</label>
                                                <input tabindex="34" type="text" class="form-control"
                                                    formControlName="addressPincode">
                                            </div>
                                       </div>
                                        <div class="row">
                                            <div class="col-md-3 position-relative form-group">
                                                <button class="mt-1 btn btn-info" (click)="addNomini()" tabindex="35">Add</button>
                                                <button class="mt-1 btn btn-left-margin10 btn-secondary" (click)="clearNomini()" tabindex="36">Clear</button>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <table class="mb-0 table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">Name</th>
                                                        <th width="15%">Relation</th>
                                                        <th width="15%">Percentage</th>
                                                        <th width="15%">District</th>
                                                        <th width="15%">Date</th>
                                                        <th width="15%">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let uiNomini of uiNominis | paginate: { itemsPerPage: 10, currentPage: p_nomini, totalItems: total_nomini }; let ind = index">
                                                        <td>{{uiNomini.firstName}} {{uiNomini.middleName}} {{uiNomini.lastName}}</td>
                                                        <td>{{uiNomini.relationName}}</td>
                                                        <td>{{uiNomini.percentage}}</td>
                                                        <td>{{uiNomini.districtName}}</td>
                                                        <td>{{uiNomini.phone}}</td>
                                                        <td>
                                                            <div class="widget-content-right">
                                                                <button type="button" title="Edit record"
                                                                    class="btn-shadow btn btn-info btn-actions"
                                                                    (click)="editNomini(uiNomini, ind)">
                                                                    <span class="btn-icon-wrapper opacity-10">
                                                                        <i class="fa fa-edit fa-w-10"></i>
                                                                    </span>
                                                                </button>
                                                                <button type="button" title="Delete record"
                                                                    class="btn-shadow btn btn-danger btn-actions"
                                                                    data-toggle="modal" data-target="#deleteModal"
                                                                    (click)="deleteNomini(uiNomini, ind)">
                                                                    <span class="btn-icon-wrapper opacity-10">
                                                                        <i class="fa fa-trash fa-w-20"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="uiNominis.length==0">
                                                        <td colspan="5">No records found..</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-center">
                                                <pagination-controls (pageChange)="pageNominiChangeEvent($event)"></pagination-controls>
                                              </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
                        <form [formGroup]="dividentForm" #form="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row">
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Number of shares</label>
                                                <input tabindex="37" type="text" class="form-control"
                                                    formControlName="nominiFirstName">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Share value</label>
                                                <input tabindex="38" type="text" class="form-control"
                                                    formControlName="nominiMiddleName">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Total share value</label>
                                                <input tabindex="39" type="text" class="form-control" readonly
                                                    formControlName="nominiLastName">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Divident amount</label>
                                                <input tabindex="40" type="text" class="form-control"
                                                formControlName="nominiLastName">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Loan limit amount</label>
                                                <input tabindex="41" type="text" class="form-control"
                                                    formControlName="nominiGuardian">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Admission fee date</label>
                                                <div class="input-group">
                                                    <input tabindex="42" type="text" class="form-control"
                                                        formControlName="nominiPercentage">
                                                    <div class="input-group-append"><span
                                                            class="input-group-text">%</span></div>
                                                </div>

                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Income</label>
                                                <input tabindex="43" type="text" class="form-control"
                                                    formControlName="nominiAge">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane tabs-animation fade" id="tab-content-3" role="tabpanel">
                        <form [formGroup]="documentsForm" #form="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row">
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Select document to add</label>
                                                <select class="mb-2 form-control"
                                                    tabindex="44" formControlName="documentSelect">
                                                    <option *ngFor="let uiDocumentType of uiDocumentTypes"
                                                        [ngValue]="uiDocumentType.code">
                                                        {{uiDocumentType.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <button class="mt-1 btn btn-info" style="margin-top: 30px !important"  tabindex="45" 
                                                (click)="addDocument()">
                                                    Add
                                                </button>
                                            </div>
                                            
                                        </div>

                                        <div class="row" *ngFor="let uiDocument of uiDocuments; let ind = index">
                                            <div class="col-md-12 position-relative form-group">
                                                <table class="mb-0 table table-striped">
                                                    <tr>
                                                        <td width="10%">{{uiDocument.documentName}}</td>
                                                        <td width="40%">
                                                            <input tabindex="46" type="file" class="form-control"
                                                                (change)="uploadDocument($event, ind, uiDocument.documentKey)">
                                                                {{uiDocument.filePath}}
                                                        </td>
                                                        <td width="5%"><button class="mt-1 btn btn-info">
                                                                Upload
                                                            </button></td>
                                                        <td width="5%"> <button class="mt-1 btn btn-info" (click)="deleteDocument(ind)">
                                                                Delete
                                                            </button></td>
                                                        <td width="15%">
                                                            Upload Percent: {{percentDone}}%
                                                        </td>
                                                        <td width="25%">
                                                            <ng-container *ngIf="uploadSuccess">
                                                                Upload Successful
                                                            </ng-container>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="divider" style="margin-bottom: 0.5rem !important"></div>

                <div class="row">
                    <div class="col-md-6 position-relative">
                        <button class="mt-1 btn btn-primary" (click)="saveMember()" tabindex="47">Submit</button>
                        <button class="mt-1 btn btn-left-margin10 btn-secondary" (click)="clear()"
                            tabindex="48">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>