<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form [formGroup]="generalMasterForm" #form="ngForm">
                    <h5 class="card-title">General Master</h5>
                    <div class="row">
                        <div class="col-md-6 position-relative">
                            <label for="txtCode" class="">Master Type</label>
                            <input name="code" id="txtCode" readonly="true" tabindex="1" type="text"
                                class="form-control" formControlName="masterType"> 
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-md-6 position-relative form-group">
                            <label for="txtfullName" class="">Full name</label>
                            <input name="code" id="txtfullName" tabindex="2" maxlength="50"
                                type="text" class="form-control" formControlName="fullName" autocomplete="off" 
                                placeholder="Full name" [class.is-invalid]="fullName.invalid && (fullName.dirty || fullName.touched)">
                                <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="invalid-feedback">
                                    <div *ngIf="fullName.errors?.['required']">
                                        Full name is required.
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-6 position-relative form-group">
                            <label for="txtShortName" class="">Short name</label>
                            <input name="priorityName" id="txtShortName" tabindex="3" placeholder="Short name" type="text"
                                class="form-control" required maxlength="50" formControlName="shortName" autocomplete="off"
                                [class.is-invalid]="shortName.invalid && (shortName.dirty || shortName.touched)">
                            <div *ngIf="shortName.invalid && (shortName.dirty || shortName.touched)" class="invalid-feedback">
                                <div *ngIf="shortName.errors?.['required']">
                                    Short name is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 position-relative">
                            <button class="mt-1 btn btn-primary" (click)="saveGeneralMaster()">Submit</button>
                            <button class="mt-1 btn btn-left-margin10 btn-danger" (click)="clear()">Clear</button>
                            <button class="mt-1 btn btn-left-margin10 btn-secondary"
                                (click)="configClick('master-list')">Master List</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>