<form [formGroup]="transferCreditForm" #form="ngForm">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Account Details</legend>
                            <app-bank-acc-search [generalLedgers]="uiAllGeneralLedgers"
                            [uiBranches]="uiBranches" (selectAccount)="selectAccount($event)"></app-bank-acc-search>
                        </fieldset>
                    </div>

                    <div class="col-md-12">
                        <fieldset>
                            <legend>Transaction Details</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Transaction Amount </label>
                                            <input tabindex="28" type="number" class="form-control" readonly placeholder="Amount"
                                                formControlName="transactionAmount">
                                        </div>
                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Transaction Description </label>
                                            <input tabindex="28" type="text" class="form-control" readonly placeholder="Reason"
                                                formControlName="transactionDesc">
                                        </div>

                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Account Balance Will be </label>
                                            <input tabindex="28" type="number" class="form-control" readonly
                                                formControlName="balanceAmountWillBe">
                                        </div>
                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Cheque No </label>
                                            <input tabindex="28" type="text" class="form-control" readonly
                                                placeholder="Cheque No" formControlName="chequeNo">
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Cheque Date </label>
                                            <input tabindex="28" type="date" class="form-control"
                                                formControlName="chequeDate">
                                        </div>

                                        <div class="col-md-6 position-relative form-group" style="margin-top: 30px;">
                                            <button class="btn btn-primary btn btn-left-margin10" tabindex="2"
                                                (click)="makeTransaction()">
                                                Finish</button>
                                            <button class="btn btn-danger btn btn-left-margin10" tabindex="2">
                                                Reject</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
