<div class="row">
    <div class="col-lg-12">

        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Interest Parameter for general ledger</h5>

                <div class="row">
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">General Ledger</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 position-relative form-group">
                        <button class="btn btn-info" style="margin-top: 30px;" (click)="showInfo()">Show
                        </button>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Group</label>
                        <div class="input-group">
                            <input tabindex="2" readonly type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Type of Account</label>
                        <div class="input-group">
                            <input tabindex="2" readonly type="text" class="form-control">
                        </div>
                    </div>
                </div>
                
                <div class="divider"></div>

                <div class="row">
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Interest Posting</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Add Interest to Balance</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Receivable/ Payable</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Received/ Paid</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Rate for Staff</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Rate for Female</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Rate for Senior Citizen</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3 position-relative">
                        <div class="input-group">
                            <input tabindex="2" readonly type="text" class="form-control">
                            <div class="input-group-append"><span class="input-group-text">%</span></div>
                        </div>
                    </div>
                    <div class="col-md-3 position-relative">
                        <div class="input-group">
                            <input tabindex="2" readonly type="text" class="form-control">
                            <div class="input-group-append"><span class="input-group-text">%</span></div>
                        </div>
                    </div>
                    <div class="col-md-3 position-relative">
                        <div class="input-group">
                            <input tabindex="2" readonly type="text" class="form-control">
                            <div class="input-group-append"><span class="input-group-text">%</span></div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-6 position-relative">
                        <label for="txtCode" class="">Calculate interest after maturity at the time of</label>
                        <div style="display: flex;">
                            <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                                <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                    {{uiGeneralLedger.name}}
                                </option>
                            </select>
                            <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1" style="margin-left: 30px;">
                                <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                    {{uiGeneralLedger.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <label for="txtCode" class="">Calculate Provision</label>
                        <div style="display: flex;">
                            <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                                <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                    {{uiGeneralLedger.name}}
                                </option>
                            </select>
                            <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1" style="margin-left: 30px;">
                                <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                    {{uiGeneralLedger.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Calculate Payble</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">Installment Penal</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label for="txtCode" class="">RI Cumulative</label>
                        <select class="form-control" name="masterList" [(ngModel)]="generalLedgerId" tabindex="1">
                            <option *ngFor="let uiGeneralLedger of uiGeneralLedgers" [ngValue]="uiGeneralLedger.id">
                                {{uiGeneralLedger.name}}
                            </option>
                        </select>
                    </div>
                </div>
               
                <div class="divider"></div>

                <div class="row">
                    <div class="col-md-6 position-relative">
                        <button class="mt-1 btn btn-primary" (click)="saveParameter()">Submit</button>
                        <button class="mt-1 btn btn-left-margin10 btn-secondary" (click)="clear()">Clear</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<!-- <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
aria-hidden="true"
    data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Are you sure do you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div> -->