<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Bank</h5>
                <div class="row">
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtCode" class="">Code</label>
                        <input name="code" id="txtCode" tabindex="1" readonly="true" maxlength="10" placeholder="0"
                            type="text" class="form-control">
                    </div>
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtName" class="">Name</label>
                        <input name="bankName" id="txtName" tabindex="2" maxlength="50" placeholder="Bank Name"
                            type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtAddress" class="">Address</label>
                        <div class="input-group">
                            <input placeholder="Address" id="txtAddress" tabindex="3" maxlength="100" type="text"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtDesc" class="">Description</label>
                        <input name="priorityName" id="txtDesc" tabindex="4" maxlength="100" placeholder="Description"
                            type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 position-relative">
                        <label for="txtCode" class="">Has branch</label>
                        <select class="mb-2 form-control" tabindex="5">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="col-md-6 position-relative">
                        <label for="txtCode" class="">General Ledger</label>
                        <select class="mb-2 form-control" tabindex="6">
                            <option>General Ledger 1</option>
                            <option>General Ledger 2</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 position-relative">
                        <button class="mt-1 btn btn-primary" tabindex="7">Submit</button>
                        <button class="mt-1 btn btn-left-margin10 btn-secondary">Clear</button>
                        <button class="mt-1 btn btn-left-margin10 btn-alternate" (click)="configClick('banks')">Bank List</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>