
<div class="col-md-12">
    <div class="row">
        <div class="col-md-3 position-relative form-group">
            <label for="txtCode" class="">Exchange Amount</label>
            <input tabindex="28" type="number" class="form-control"
                formControlName="balanceWillBe">
        </div>
        <div class="col-md-3 position-relative form-group" style="margin-top: 30px;">
            <button class="btn btn-success" tabindex="2" data-toggle="modal" 
            data-target="#exchangeDenominationModel"> Denomination</button>
            <button class="btn btn-primary btn btn-left-margin10" tabindex="2" (click)="makeTransaction()">
                Finish</button>
        </div>
        <div class="col-md-6 position-relative form-group">
            <label for="txtCode" class="">Denomination</label>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg show" id="exchangeDenominationModel" tabindex="-1" role="dialog" 
        aria-labelledby="denominationModelTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0.5rem 1rem !important;">
                <h5 class="modal-title" id="denominationModelTitle">Denomination</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
               <app-denominations></app-denominations>
            </div>
        </div>
    </div>
</div>