<div class="row">
    <div class="col-lg-12">

        <div class="main-card mb-3 card">
            <div class="card-body">

                <h5 class="card-title">Search customer</h5>
                <form [formGroup]="searchForm" #form="ngForm">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <label for="txtCode" class="">Search by </label>
                            <select class="mb-2 form-control" tabindex="1" formControlName="searchBy">
                                <option *ngFor="let uiCustomerSearch of uiCustomerSearchBy"
                                    [ngValue]="uiCustomerSearch.code">
                                    {{uiCustomerSearch.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4 position-relative">
                            <label for="txtCode" class="">Search Text </label>
                            <input tabindex="4" type="text" class="form-control" autocomplete="off"
                              placeholder="Enter search text.."  formControlName="searchText">
                        </div>

                        <div class="col-md-4 position-relative form-group" style="float: right !important; margin-top: 30px;">
                            <button class="btn btn-left-margin10 btn-danger" style="float: right;" tabindex="2"
                                (click)="clear()">
                                Clear</button>
                            <button class="btn btn-left-margin10 btn-warning" style="float: right;" tabindex="2"
                                (click)="addNewCustomer()"><i class="fa fa-plus"></i> Add New Customer </button>
                            <button class="btn btn-info" style="float: right;" tabindex="2"
                                (click)="searchCustomer()"><i class="fa fa-search"></i> Search</button>
                        </div>

                        <!-- <div class="col-md-3 position-relative">
                            <div class="input-group">
                                <input tabindex="4" type="text" class="form-control" placeholder="Search customer name"
                                autocomplete="off"  formControlName="customerName">
                            </div>
                        </div>
                        <div class="col-md-3 position-relative">
                            <div class="input-group">
                                <input tabindex="3" type="number" class="form-control"
                                autocomplete="off" placeholder="Search customer number" formControlName="customerNumber">
                            </div>
                        </div>

                        <div class="col-md-2 position-relative form-group">
                            <div class="input-group">
                                <input tabindex="5" type="text" class="form-control" placeholder="Search PAN"
                                autocomplete="off"  formControlName="customerPAN" style="text-transform:uppercase">
                            </div>
                        </div>
                        <div class="col-md-2 position-relative form-group">
                            <div class="input-group">
                                <input tabindex="5" type="text" class="form-control" placeholder="Search Aadhar"
                                autocomplete="off"  formControlName="customerAadhar" style="text-transform:uppercase">
                            </div>
                        </div>
                        <div class="col-md-2 position-relative">
                            <div class="input-group">
                                <input tabindex="5" type="text" class="form-control" placeholder="Search phone"
                                autocomplete="off"   formControlName="customerPhone">
                            </div>
                        </div> -->
                    </div>
                </form>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12">
                        <table class="mb-0 table table-striped">
                            <thead>
                                <tr>
                                    <th width="15%">Customer number</th>
                                    <th width="30%">Name</th>
                                    <th width="10%">PAN</th>
                                    <th width="10%">Aadhar</th>
                                    <th width="10%">Phone</th>
                                    <th width="10%">Status</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let uiCustomer of uiCustomers | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
                                    <th scope="row">{{uiCustomer.id}}</th>
                                    <td>{{uiCustomer.custName}}</td>
                                    <td>{{uiCustomer.pan}}</td>
                                    <td>{{uiCustomer.aadhar}}</td>
                                    <td>{{uiCustomer.mobile}}</td>
                                    <td>
                                        <div class="badge"
                                            [ngClass]="{'badge-danger': uiCustomer.status==='Deleted', 'badge-success' : uiCustomer.status=== 'Active', 'badge-warning' : uiCustomer.status=== 'In-Active'}">
                                            {{uiCustomer.status}}
                                        </div>

                                    </td>
                                    <td>
                                        <div class="widget-content-right">
                                            <button type="button" title="Edit record"
                                                class="btn-shadow btn btn-info btn-actions" (click)="edit(uiCustomer)">
                                                <span class="btn-icon-wrapper opacity-10">
                                                    <i class="fa fa-edit fa-w-10"></i>
                                                </span>
                                            </button>
                                            <button type="button" title="Delete record"
                                                class="btn-shadow btn btn-danger btn-actions" data-toggle="modal"
                                                data-target="#deleteModal" (click)="delete(uiCustomer)">
                                                <span class="btn-icon-wrapper opacity-10">
                                                    <i class="fa fa-trash fa-w-20"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="uiCustomers.length==0">
                                    <td colspan="7">No records found..</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Are you sure do you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete()">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cancelDelete()">No</button>
            </div>
        </div>
    </div>
</div>