<div class="row">
    <div class="col-md-12">

        <div class="row" >
            <!-- <div class="col-md-6 position-relative form-group">
                            <label class="">Code</label>
                            <input name="code" id="txtCode" tabindex="1" readonly="true" placeholder="0" type="text"
                            formControlName="code"  class="form-control">
                        </div> -->
            <div class="col-md-6 position-relative form-group">
                <app-calender-view (currentSelectedDate)="getSelectedDate($event)" [isDisabled]="areDaysOpen"></app-calender-view>
            </div>
            <div class="col-md-3 position-relative form-group">
                <label class="">Selected Working Day</label>
                <input type="date" tabindex="2" autocomplete="off" [(ngModel)]="dtStartDay" id="dtStartDay"
                    [disabled]="areDaysOpen" class="form-control">
            </div>
            <div class="col-md-3 position-relative form-group">
                <button type="button" style="margin-top: 30px !important;" class="mt-1 btn btn-primary" tabindex="7"
                    [disabled]="areDaysOpen" (click)="saveBeginDay()">Submit</button>
            </div>
        </div>

        <!-- <div class="row">
                        <div class="col-md-6 position-relative">
                            <button type="button" class="mt-1 btn btn-primary" tabindex="7" [disabled]="areDaysOpen"
                            (click)="saveBeginDay()">Submit</button>
                        </div>
                    </div> -->

    </div>
</div>