@import url(./variabledeclartionfile.css);

.app-sidebar
{
    border-right:1px solid var(--lightGreyShade3) !important;
}
.innerSectionMaster
{
    background: var(--white) !important;
}

.outMainMaster .app-main__inner
{
   background: var(--white) !important;
   padding:0px var(--pixelSize8)  var(--pixelSize4) var(--pixelSize4)  !important;
   margin: 0px 0px 60px;
}
.applicationLogoSection
{
    display: block;
    text-align: center;
    width: 100%;
}

.applicationLogoimg
{
    object-fit:fill;
    height: 90px;
    width: 280px;
}

.applicationLogoSectionHeader
{
    border-right: 2px dotted var(--lightGreyShade4);
    padding: 0px var(--pixelSize20) 0px 0px;
}

.applicationLogoimgHeader
{
    object-fit:scale-down;
    height: 45px;
    width: 160px;
}

.pageMasterSection
{

    border: 1px solid var(--lightGreyShade3);
    border-radius: var(--pixelSize10);
    margin: var(--pixelSize10) auto;
    box-shadow: 0px 0px 1px 1px var(--lightGreyShade8);
    padding:0px;
    background: var(--white);
}
.pageContentSection
{

}

.backbtnSectionCOntrol
{
    background: var(--white) !important;
    padding:0 var(--pixelSize10) !important;
    border: 1px solid var(--white) !important;;
    border-radius: var(--pixelSize10);
    padding: 0 !important;
    text-align: center;
}

.GotoBackBtn
{
    background: transparent !important;
    padding:var(--pixelSize4) var(--pixelSize10) !important;
    color: var(--lightGreenShade3) !important;
    font-size: var(--pixelSize13);
    border: 0px !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}



.goBacKIconInBtn
{
    font-size: var(--pixelSize22);
    color: var(--lightGreenShade3) !important;
    margin: 0px var(--pixelSize4);
    font-weight: 600;
}



.ActionBtnSubmit
{
    background: linear-gradient(15deg, var(--blueShade8) 0%, var(--blueShade9) 100%) !important;
    padding: var(--pixelSize8) var(--pixelSize22) !important;
    color: var(--white);
    font-size: var(--pixelSize13);
    border: 1px solid var(--blueShade8) !important;
    text-align: center;
    border-radius: var(--pixelSize10);
    box-shadow: 0px 0px 1px 1px var(--blueShade8) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.ActionBtnSubmit:focus,
.ActionBtnSubmit:hover
{
    background: linear-gradient(15deg, #017699 0%, #00719d 100%) !important;
    border: 1px solid var(--blueShade4) !important;
}


.btn-danger
{

    background: var(--redDarkShade2) !important;
    padding: var(--pixelSize4) var(--pixelSize10) !important;
    color: var(--white);
    font-size: var(--pixelSize13);
    border: 1px solid var(--redDarkShade2) !important;
    text-align: center;
    border-radius: var(--pixelSize10);
    box-shadow: 0px 0px 1px 1px var(--redDarkShade2) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}




.btn-danger:focus,
.btn-danger:hover
{
    background: var(--redDarkShade2) !important;
    border: 1px solid var(--redDarkShade2) !important;
    color: var(--white) !important;
}


.ActionBtnClear
{
    background: var(--redDarkShade2) !important;
    padding: var(--pixelSize4) var(--pixelSize10) !important;
    color: var(--white);
    font-size: var(--pixelSize13);
    border: 1px solid var(--redDarkShade2) !important;
    text-align: center;
    border-radius: var(--pixelSize10);
    box-shadow: 0px 0px 1px 1px var(--redDarkShade2) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.ActionBtnClear:focus,
.ActionBtnClear:hover
{
    background: var(--redDarkShade2) !important;
    border: 1px solid var(--redDarkShade2) !important;
}



.iconinsideActionBtn
{
    font-size: var(--pixelSize18);
    color: var(--white);
    margin: 0px var(--pixelSize4);
}


.iconinsideActionBtn1
{
    font-size: var(--pixelSize14);
    color: var(--white);
    margin: 0px var(--pixelSize4);
}


/* .page-section-header
{
   
    background: var(--lightGreyShade6);
    padding: var(--pixelSize8) var(--pixelSize14);
    border-bottom: 1px solid var( --lightGreyShade3);
    border-radius: var(--pixelSize10) var(--pixelSize10) 0 0;
    
}


.headerTitleText
{
    font-size: var(--pixelSize16);
    color:var(--darkGreyBlackShade2);
    font-weight: 500;
    margin: 0px;   

}
.svgIconForTitle
{
    color:var(--darkGreyBlackShade2);
    font-size: var(--pixelSize24);
    margin: 0px  var(--pixelSize4);
} */




 .page-section-header
{
    /* background-image: linear-gradient(15deg, var(--blueShade4) 0%,  var(--lightGreenShade4) 100%); */
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); 
    padding: var(--pixelSize8) var(--pixelSize14);
    border-bottom: 1px solid var( --lightGreyShade3);
    border-radius: var(--pixelSize10) var(--pixelSize10) 0 0;
    
}

 .page-section-headerWithTab
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pagheaderWithBackBtn
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageWithTabsSection
{
    padding: 0px 0px var(--pixelSize14) !important;
}

.pageWithTabsSection .page-section-tabsControls-data
{
    max-width: 98%;
    margin: auto;
}
.pageWithTabsSection  .page-section-footerActionBtns
{
    padding: var(--pixelSize8)  var(--pixelSize14) !important;
}

.headerTitleText
{
    font-size: var(--pixelSize14);
    color:var(--white);
    font-weight: 500;
    margin: 0px;   

}
.svgIconForTitle
{
    color:var(--white);
    font-size: var(--pixelSize22);
    margin: 0px  var(--pixelSize4);
} 

.page-section-headerWithTab .headerTitleText
{
    width: 30% !important;
}


.page-section-content
{
    padding: var(--pixelSize14);
    
}
.page-section-filtersection
{
    padding: 0px 0px var(--pixelSize10); 
}

.paginationtableSection
{
    padding: var(--pixelSize10);
    text-align: right;
}


.ngx-pagination .current
{
    border-radius: var(--pixelSize10);
}

.actionBtnsCollection
{
    display: flex;
    justify-content: end;
    gap: var(--pixelSize10);

}

.page-section-footerActionBtns
{
    display: flex;
    justify-content: end;
    gap: var(--pixelSize10);
}



/* common table css*/
.table
{
    border:1px solid var(--skyBlueShade2)!important;
    border-radius: 10px;
}

.table thead th
{
    background: var(--skyBlueShade1)  !important;
    color: var(--blueShade6) !important;
    border-bottom:1px solid var(--skyBlueShade2) !important;
    font-weight: 500;
}


.table th
{
    border-top:1px solid var(--skyBlueShade2)!important;
}

.table th, 
.table td
{
    color: var(--blueShade6) !important;
    font-size: var(--pixelSize12) !important;
    font-weight: 500;
}

.table-striped>tbody>tr:nth-of-type(odd)>*
{
    background: var(--white) !important;
    --bs-table-bg-type: var(--white) !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>*:hover,
.table-striped>tbody>tr:nth-of-type(odd)>*:focus
{
    background: var(--lightblueType3) !important;
    --bs-table-bg-type: var(--lightblueType3) !important;
}

.table-striped>tbody>tr:nth-of-type(even)>*
{
    background: var(--white) !important;
    --bs-table-bg-type: var(--white) !important;
}

.table-striped>tbody>tr:nth-of-type(even)>*:hover,
.table-striped>tbody>tr:nth-of-type(even)>*:focus
{
    background: var(--lightblueType3) !important;
    --bs-table-bg-type: var(--lightblueType3) !important;
}








.noRecordFoundText
{
    background:var(--white)!important;
    text-align: center;
    box-shadow: none !important;
    border-top:0px !important;
}


/**filter section btns*/

.actionBtnsInFilterSection
{
    display: flex;
    justify-content: end;
    gap: var(--pixelSize10);
    align-items: end;
}

.actionBtnsInFilterSection1
{
    display: flex;
    justify-content: end;
    gap: var(--pixelSize10);
    align-items: end;
}

/*common tab*/

.page-section-tabsControls .nav-tabs
{
    border-bottom: 0px !important;
    justify-content: center;
    margin:0px !important ;
    margin-bottom: var(--pixelSize8) !important;
    gap: var(--pixelSize15) !important;
    background: var(--lightblueShade5) !important;
    padding:var(--pixelSize4) var(--pixelSize4) var(--pixelSize8);
    
}

.page-section-tabsControls .nav-tabs .navActionItem:has(.disabled)
{
    pointer-events: none !important;
}

.page-section-tabsControls .nav-tabs .navActionItem .disabled
{
    pointer-events: auto !important;
}

.page-section-headerWithTab  .page-section-tabsControls .nav-tabs
{
    margin-bottom: 0 !important;
    padding:2px var(--pixelSize4) var(--pixelSize4) !important; 
    border-radius: var(--pixelSize10);
    
}

.inpageMiddleSectioWithTab .nav-tabs
{
    border-bottom: 0px !important;
    justify-content: center;
    margin:var(--pixelSize10) 0px !important ;
    margin-bottom: var(--pixelSize8) !important;
    gap: var(--pixelSize15) !important;
    background: var(--lightblueShade5) !important;
    padding:var(--pixelSize10) 0 !important;
    border-top: 2px dotted #e8e8e8;
    
}



.page-section-tabsControls .nav-tabs .nav-link
{
    border: 1px solid transparent !important;
    border-radius:var(--pixelSize10) !important ;
    color: var( --lightGreenShade1) !important;
    font-weight: 500;
    font-size: var(--pixelSize12) !important;
    padding: var(--pixelSize4) var(--pixelSize14) !important;
}
.page-section-tabsControls .nav-tabs .nav-link.active
{
    background-color:var( --lightGreenShade1);
    border: 1px solid var( --lightGreenShade1) !important;
    border-radius:var(--pixelSize10) !important ;
    color: var(--white) !important;
}

.page-section-tabsControls .nav-tabs .nav-link.active > span
{
    border: 0px !important;
}

.page-section-tabsControls-data .tab-content .tab-pane
{
    margin: 1px auto var(--pixelSize10);
    border: 1px solid var(--lightGreyShade3);
    padding: var(--pixelSize10);
    border-radius: var(--pixelSize10);
}


.page-section-tabsControls-data .tab-content .tab-pane label
{
    font-size: var(--pixelSize12);
    color:var(--darkGreyBlackShade2);
    font-weight:400;
    margin: 0px 0px 1px;
}

/* .page-section-tabsControls-data .tab-content .tab-pane select
{
    
    border: 1px solid var(--lightblueShade1) !important;
    border-radius: 10px;
    padding-left: 3px;
    font-size: var(--pixelSize12);
    box-shadow: 0px 0px 1px 1px var( --lightblueShade1) !important;
    cursor: pointer;
    color: var(--black);
	
}

.page-section-tabsControls-data .tab-content .tab-pane select input
{
    
    border-radius: 10px;
    padding-left: 3px;	
}

.page-section-tabsControls-data .tab-content .tab-pane  .input-container input
{
    
    border: 1px solid var(--lightblueShade1) !important;
    border-radius: 10px;
    padding-left: 3px;
    font-size: var(--pixelSize14);
    box-shadow: 0px 0px 1px 1px var( --lightblueShade1) !important;
    cursor: pointer;
}

.page-section-tabsControls-data .tab-content .tab-pane  .input-container input:hover,
.page-section-tabsControls-data .tab-content .tab-pane  .input-container input:focus
{
    border: 1px solid var(--lightblueShade1) !important;
    box-shadow: 0px 0px 1px 1px var(--lightblueShade1) !important;
    cursor: pointer;	
}

.page-section-tabsControls-data .tab-content .tab-pane select:hover,
.page-section-tabsControls-data .tab-content .tab-pane select:focus
{
    
    border: 1px solid var(--lightblueShade1) !important;
    box-shadow: 0px 0px 2px 1px var(--lightblueShade1) !important;
    cursor: pointer;	
} */



/*common btns */


.action-primatryBtn {
   background:var(--blueShade11);    
   color: var(--white);            
   border: 1px solid var(--blueShade11);        
   border-radius:var(--pixelSize8);
   font-size: var(--pixelSize13);
   font-weight: 500;
   text-align: center;
   padding: var(--pixelSize4) var(--pixelSize10);
   box-shadow: 0px 0px 1px 1px var(--blueShade11);
   text-transform: uppercase;
 }

 .action-primatryBtn:focus,
 .action-primatryBtn:hover 
 {
    background:var(--lightGreenShade5);   
    color: var(--white);            
    border: 1px solid var(--lightGreenShade5);        
    border-radius:var(--pixelSize8);
    font-size: var(--pixelSize13);
    font-weight: 500;
    text-align: center;
    padding:  var(--pixelSize4) var(--pixelSize10);
    box-shadow: 0px 0px 1px 1px var(--lightGreenShade5);
  }


  .action-primatryBtn1 {
   background:var(--blueShade11);    
   color: var(--white);            
   border: 1px solid var(--blueShade11);        
   border-radius:var(--pixelSize8);
   font-size: var(--pixelSize13);
   font-weight: 500;
   text-align: center;
   padding: var(--pixelSize4) var(--pixelSize10);
   box-shadow: 0px 0px 1px 1px var(--blueShade11);
   text-transform: uppercase;
 }

 .action-primatryBtn1:focus,
 .action-primatryBtn1:hover 
 {
   background:var(--blueShade11);    
   color: var(--white);            
   border: 1px solid var(--blueShade11);        
   border-radius:var(--pixelSize8);
   font-size: var(--pixelSize13);
   font-weight: 500;
   text-align: center;
   padding: var(--pixelSize4) var(--pixelSize10);
   box-shadow: 0px 0px 1px 1px var(--blueShade11);
   text-transform: uppercase;
  }

  .addAccountActionBtn
  {
    background:var(--blueShade11);    
    color: var(--white);            
    border: 1px solid var(--blueShade11);        
    border-radius:var(--pixelSize8);
    font-size: var(--pixelSize13);
    font-weight: 500;
    text-align: center;
    padding: 2px var(--pixelSize4);
    box-shadow: 0px 0px 1px 1px var(--blueShade11);
    text-transform: uppercase;
    display: flex;
    gap: 4px;
    align-items: center;
  }



  .action-InfoBtn {
    background: var(--lightGreenShade1) !important;   
    color: var(--white);            
    border: 1px solid var(--lightGreenShade1) !important;        
    border-radius:var(--pixelSize8);
    font-size: var(--pixelSize13);
    font-weight: 500;
    text-align: center;
    padding: var(--pixelSize4) var(--pixelSize10);
    box-shadow: 0px 0px 1px 1px var(--lightGreenShade1);
    text-transform: uppercase;
  }
 
  .action-InfoBtn:focus,
  .action-InfoBtn:hover 
  {
     background: var(--lightGreenShade1) !important;  
     color: var(--white);            
     border: 1px solid var(--lightGreenShade1);        
     border-radius:var(--pixelSize8);
     font-size: var(--pixelSize13);
     font-weight: 500;
     text-align: center;
     padding:  var(--pixelSize4) var(--pixelSize10);
     box-shadow: 0px 0px 1px 1px var(--lightGreenShade5);
   }


   .action-DefaultBtn {
    background: var(--white) !important;   
    color: var(--blueShade3);            
    border: 1px solid var(--blueShade3) !important;        
    border-radius:var(--pixelSize8);
    font-size: var(--pixelSize13);
    font-weight: 500;
    text-align: center;
    padding: var(--pixelSize4) var(--pixelSize10);
    box-shadow: 0px 0px 1px 1px var(--white);
    text-transform: uppercase;
  }
 
  .action-DefaultBtn:focus,
  .action-DefaultBtn:hover 
  {
     background: var(--blueShade3) !important;  
     color: var(--white);            
     border: 1px solid var(--blueShade3);        
     border-radius:var(--pixelSize8);
     font-size: var(--pixelSize13);
     font-weight: 500;
     text-align: center;
     padding:  var(--pixelSize4) var(--pixelSize10);
     box-shadow: 0px 0px 1px 1px var(--blueShade3);
   }

   .minWidth120
   {

    min-width:120px !important;

   }


  

 

  .iconInBtn
  {
    color:var(--white);
    font-size: var(--pixelSize20);
    margin: 0px  var(--pixelSize4);
  }

  
  .iconInBtn1
  {
    color:var(--white);
    font-size: var(--pixelSize20);
    margin: 0px  var(--pixelSize4);
  }
    
  .iconInBtn2
  {
    color:var(--white);
    font-size: var(--pixelSize16);
    margin: 0px  var(--pixelSize4);
  }



 .btn-clear
 {
    background: white;            
    border-radius:var(--pixelSize4);
    border: 1px solid var(--lightblueShade2)  !important;
    color:var(--lightblueShade2)  !important;

}

 /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */

 .filterSectionAllCotrols
 {
    display: flex;
    align-items: center;
    padding: 0px var(--pixelSize4);
    gap: var(--pixelSize10);

 }


 
 .filterSectionAllCotrols1
 {
    display: flex;
    align-items: center;
    padding:var(--pixelSize4);
    gap: var(--pixelSize10);
    flex-wrap: wrap;
    width: 100%;

 }


 .filterSectionAllCotrols2
 {
    display: flex;
    align-items: end;
    padding:var(--pixelSize4);
    gap: var(--pixelSize10);
    flex-wrap: wrap;
    width: 100%;


 }
 .filterSectionContentCotrols
 {
    display: flex;
    gap:var(--pixelSize10);
    min-width: 45%;
    flex-direction: column;
 }

 .filterSectionContentCotrols1
 {
    display: flex;
    align-items: start;
    gap: var(--pixelSize10);
    width: 23.4%;
    flex-direction: column;
 }

 .filterSectionContentCotrols2
 {
    display: flex;
    min-width: 21%;
    flex-direction: column;
    gap: var(--pixelSize4);
 }
  .filterSectionContentCotrols2_1
 {
    display: flex;
    width: 13%;
 }

  .filterSectionContentCotrols3
 {
    display: flex;
    min-width: 25%;
    width: 25%;
    gap: var(--pixelSize4);
    flex-direction: column;
 }

   .filterSectionContentCotrols5
 {
    display: flex;
    min-width: 23%;
    width: 23%;
    gap: var(--pixelSize4);
    flex-direction: column;
 }


  .filterSectionContentCotrols3_1
 {
    display: flex;
    min-width: 46.5%;
    width: 46.5%;
    align-items: center;
    gap: var(--pixelSize4);
 }

   .filterSectionContentCotrols4
 {
    display: flex;
    min-width: 22%;
    width: 22%;
    gap: var(--pixelSize4);
    flex-direction: column;
 }

  .filterSectionContentCotrols4_1
 {
    display: flex;
    align-items: center;
    gap: var(--pixelSize8);
    flex-wrap: wrap;
 }
 
.filterSectionContentCotrols4 .form_label_forControl
{
    min-width: 110px;
}

 

 


.filterSectionContentCotrols2 .form-control
{
    font-size: var(--pixelSize12) !important;
}

.filterSectionContentCotrols2 .ngx-dropdown-list-container
{
    max-height: 250px !important;
    padding: var(--pixelSize4) !important;
}
.filterSectionContentCotrols3 .ngx-dropdown-list-container
{
    max-height: 250px !important;
    padding: var(--pixelSize4) !important;
}
.filterSectionContentCotrols4 .ngx-dropdown-list-container
{
    max-height: 250px !important;
    padding: var(--pixelSize4) !important;
}

.filterSectionContentCotrols5 .ngx-dropdown-list-container
{
    max-height: 250px !important;
    padding: var(--pixelSize4) !important;
}


.filterSectionContentCotrols2 .ngx-dropdown-list-container .search-container input
{
    font-size: var(--pixelSize12) !important;
}

.filterSectionContentCotrols2 .ngx-dropdown-list-container .available-item {
    padding: var(--pixelSize4) !important;
    font-size: var(--pixelSize11) !important;
    font-weight: 500;
}

.filterSectionContentCotrols2 .ngx-dropdown-list-container .search-container label
{
    font-size: var(--pixelSize12) !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
     padding-top: 4px !important;
}



  .filterSectionContentCotrols2 .input-group .display-text
 {
    font-size: var(--pixelSize12) !important;
 }


 .dropwControlSectionOption
 {
    min-width: 66%;
 }

 .dropwControlSectionOption1
 {
    width: 100%;
 }

 .filterSectionContentCotrols2 .labelwithFilter
 {
    width: max-content;
 }
  .filterSectionContentCotrols3 .labelwithFilter
 {
    width: max-content;
 }


.filterSectionContentCotrols3_1 .labelwithFilter
 {
    width: max-content;
 }

   .filterSectionContentCotrols5 .labelwithFilter
 {
    width: max-content;
 }


 .form_label_forControlSubTitle
 {
     font-size: var(--pixelSize14) !important;
     color:var(--blueShade6) !important;
     font-weight:500 !important;
     margin: 0px 0px 1px !important;
 }


 .form_label_forControl
{
    font-size: var(--pixelSize12);
    color:var(--blueShade6);
    font-weight:500;
    margin: 0px 0px 1px;
}

.form_label_forControlWhite
{
    font-size: var(--pixelSize12);
    color:var(--white);
    font-weight:500;
    margin: 0px 0px 1px;
}


.formControl_dropdownselect
{
    
    border: 1px solid var(--lightGreyShade3) !important;
    border-radius: var(--pixelSize10) !important;
    padding-left: 3px;
    font-size: var(--pixelSize12);
    box-shadow: 0px 0px 1px 1px var( --lightGreyShade1) !important;
    cursor: pointer;
    color: var(--black);
	
}

.formControl_dropdownselect input
{
    
    border-radius: 10px;
    padding-left: 3px;	
}
.formControl_actiontextBox  .autocomplete-container
{
    box-shadow: none !important;
    border-radius: var(--pixelSize10) !important;
    border: 0px !important;
}

.formControl_actiontextBox .input-container input
{
    
    border: 1px solid var(--lightGreyShade3) !important;
    border-radius: var(--pixelSize10) !important;
    padding-left: 3px;
    font-size: var(--pixelSize14);
    box-shadow: 0px 0px 1px 1px var( --lightGreyShade1) !important;
    cursor: pointer;
}



.formControl_actiontextBox .input-container input:hover,
.formControl_actiontextBox .input-container input:focus
{
    border: 1px solid var(--lightblueShade1) !important;
    box-shadow: 0px 0px 1px 1px var(--lightblueShade1) !important;
    cursor: pointer;	
}


.formwithFilterAction input
{
    
    border: 1px solid var(--lightGreyShade3) !important;
    border-radius: var(--pixelSize6) !important;
    padding-left: var(--pixelSize10);
    font-size: var(--pixelSize14);
    box-shadow: 0px 0px 1px 1px var( --lightGreyShade1) !important;
    cursor: pointer;
}

.formwithFilterAction input:hover,
.formwithFilterAction input:focus
{
    border: 1px solid var(--lightblueShade1) !important;
    box-shadow: 0px 0px 1px 1px var(--lightblueShade1) !important;
    cursor: pointer;	
}

.sectionWithMultipleFilter 
{
    flex-wrap: wrap;
    margin: 0px !important;
    padding: 0px !important;
    justify-content: end;
}

.sectionWithMultipleFilter .filterSectionAllCotrols
{
    flex-wrap: wrap;
    margin: 0px !important;
    padding: 0px !important;
    justify-content: start;
}
.pd0
{
    padding: 0px !important;
}
.mrg0
{
    margin: 0px !important;
}


.formControl_dropdownselect:hover,
.formControl_dropdownselect:focus
{
    
    border: 1px solid var(--lightblueShade1) !important;
    box-shadow: 0px 0px 2px 1px var(--lightblueShade1) !important;
    cursor: pointer;	
}


.footerActionBtns
{
    display: flex;
}

.footerSectionMaster
{
    z-index: 13;
    background-image: linear-gradient(15deg, var(--blueShade4) 0%,  var(--lightGreenShade4) 100%);
    padding: var(--pixelSize8);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.footerInnerSection ul li
{
    width: 100%;
}

.text_in_Footer
{
    text-align: center;
    width:100%;
    color: var(--white);
    font-size: var(--pixelSize12);

}



.formControlTabs .tab-content label
{
    
  
    font-size: var(--pixelSize12);
    color: var(--darkGreyBlackShade2);
}

.formControlTabs .tab-content label .mandatory
{
    
  
    font-size: var(--pixelSize12);
    color: var(--redDarkShade2);
}

.requiredLabelTextStar
{
    font-size: var(--pixelSize12);
    color: var(--redDarkShade2);
}


.formControlTabs .tab-content input
{
    
    border: 1px solid var(--lightGreyShade3) !important;
    border-radius: var(--pixelSize6) !important;
    padding-left: var(--pixelSize10);
    font-size: var(--pixelSize14);
    box-shadow: 0px 0px 1px 1px var( --lightGreyShade1) !important;
    cursor: pointer;
    color: var(--blueShade8);
    font-weight: 500;
}

.formControlTabs .tab-content input:disabled,
.formControlTabs .tab-content input[readonly]
{
    background-color: var(--lightGreyShade6) !important;
    cursor:not-allowed !important;
}


.actionControlsInputs
{
    margin: var(--pixelSize4) 0px ;
}



.formControlTabs .tab-content input:hover,
.formControlTabs .tab-content input:focus
{
    border: 1px solid var(--lightblueShade1) !important;
    box-shadow: 0px 0px 1px 1px var(--lightblueShade1) !important;
    cursor: pointer;	
}



/*side Bar menu CSS start here */

.mainAppSiderSection
{
    width: 320px !important;
    min-width: 320px !important;
    flex: 0 0 320px !important;
    background: linear-gradient(15deg, #005a76 0%, #00587b 100%) !important;
}

.mainAppSiderSection .app-sidebar__inner
{
    padding: var(--pixelSize4) var(--pixelSize8) var(--pixelSize8) !important;
}

.app-sidebar__heading
{
    margin: var(--pixelSize8) 0 !important;
}


.app-main .outMainMaster
{
    padding-left: 325px !important;
    background: var(--white) !important;
}

.siderBarActionMenu
{

    overflow-y: auto;
    padding-bottom: 100px;

}

.siderBarActionMenu .metismenu-icon
{
	display:none;
}

.siderBarActionMenu .vertical-nav-menu ul > li > a.mm-active
{
    color: var(--blueShade1) !important;
    background: var(--white) !important;
    font-weight: bold !important;
}

.siderBarActionMenu .vertical-nav-menu li a.mm-active,
.siderBarActionMenu .vertical-nav-menu li a:hover,
.siderBarActionMenu .vertical-nav-menu li a:focus
{
    color: var(--blueShade1) !important;
    background: var(--white) !important;
    font-weight: 500 !important;
}

.siderBarActionMenu .vertical-nav-menu li a
{
    padding: 1px 1px 1px var(--pixelSize10) !important;
    color: var(--white) !important;
    letter-spacing: 1px;
    font-size: var(--pixelSize14) !important;
    cursor:pointer !important;
    font-weight: 400 !important;
    height: auto !important;
    white-space:wrap  !important;
    width: 282px;
}


.siderBarActionMenu .vertical-nav-menu ul:before
{
    left: var(--pixelSize10) !important;
}


.siderBarActionMenu .vertical-nav-menu ul
{   
    padding: 0px var(--pixelSize10) !important;
} 


.siderBarActionMenu .app-sidebar__inner .mm-collapse li 
{
    padding: 0px var(--pixelSize8) !important;
}

/*side Bar menu CSS End here */



/*generic Btn */

.btn-info
{
    background: var(--lightGreenShade1) !important;
    border-color: var(--lightGreenShade1) !important;
    text-transform: uppercase;
    border-radius: var(--pixelSize10) !important;
}

.btn-info:focus,
.btn-info:active,
.btn-info:hover
{
    background: var(--lightGreenShade1) !important;
    border-color: var(--lightGreenShade1) !important;
    text-transform: uppercase;
}


.optionControlsdocuments
{
    display: flex;
    align-items: end;
}




/* generic page wise member page */

.memberSectionWithExtraControl
{
    display: flex;
    gap:var(--pixelSize10);
    align-items: end;
}

.memeberNumberSection
{

}

.memeberNumberControl
{
    display: flex;
    gap: var(--pixelSize10);
    align-items: center;
}

.memeberNumberControl .form_label_forControlWhite
{
    font-weight: 600;
    width: 132px ;
}


/*transaction page */
.btnOtionInSectionTransction
{
    display: flex;
    justify-content: end;
    padding: var(--pixelSize10);
    margin:  var(--pixelSize10) 0px;
}

.tablelistofPaymentSection
{
    padding: 0px !important;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.tablelistofPaymentSectionRow
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--lightGreyShade3);
    padding: var(--pixelSize4) !important;
    width: 100%;
    border-left: 4px solid var(--white);
}

.firstRowInTable
{
    border-left: 4px solid var(--lightGreenShade1);
    background: var(--lightblueShade4);
    border-bottom: 0px solid var(--lightGreyShade3);
}

.tabledataSection-left
{
    width: 18%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
   
}

.tableLabelHeadTitle
{
    font-size: var(--pixelSize12);
    color:var(--blueShade2);
    font-weight:400;
    margin: 0px 0px 1px;
}

.tableLabelLeft
{
    font-size: var(--pixelSize12);
    color:var(--blueShade2);
    font-weight:400;
    margin: 0px 0px 1px;
}

.tabledataSection-right
{
   width: 80%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
}

.dataColumR
{
    width: 45%;
    padding: var(--pixelSize4);
}



/*Modal Box CSS */

.modal-header
{
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%) !important; 
    padding: var(--pixelSize8) var(--pixelSize14) !important
}

.modal-title
{
    font-size: var(--pixelSize16);
    color:var(--white);
    font-weight: 500;
    margin: 0px;   

}


/*custom header in sub pages */


.customPageSubSections
{
    padding: 0px !important;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.customPageSubSections1
{
    padding: 0px !important;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--pixelSize10);
}

.customPageSubSectionsRow
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--lightGreyShade3);
    padding: var(--pixelSize4) !important;
    width: 100%;
    border-left: 4px solid var(--white);
}

.customPageSubSectionsHead
{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--pixelSize4) !important;
    width: 100%;
    border-left: 4px solid var(--lightGreenShade1);
    background: var(--lightblueShade4);
    border-bottom: 0px solid var(--lightGreyShade3);
    width: 100%;
}

.customPageSubSectionsHead1
{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--pixelSize4)  !important;
    width: 100%;
    border: 1.5px dotted var(--lightGreenShade1) !important;
    background: var(--white);
    border-radius: var(--pixelSize10);
    box-shadow: 0px 0px 2px 1px var(--lightGreyShade1);
    margin: var(--pixelSize4) 0px;
}

.customHeadTranspBack
{

    background: transparent !important;
    border: 1px solid var(--lightGreenShade4);
    border-left: 4px solid var(--lightGreenShade1);
    padding:var(--pixelSize8) !important;
}

.customPageSubSectionsHeadTitle
{
    font-size: var(--pixelSize14);
    color:var(--blueShade2);
    font-weight:500;
    margin: 0px 0px 10px;
    width: 100%;
}
.customPageSubSectionsHeadTitle1
{
    font-size: var(--pixelSize14);
    color:var(--blueShade2);
    font-weight:500;
    margin: 0px;
    width: 100%;
}


.customPageSubSectionsHeadTitle2
{
    font-size: var(--pixelSize12);
    color: var(--blueShade2);
    font-weight: 500;
    margin: -12px 0px 1px 20px;
    width: 100%;
    background: var(--white);
    width: max-content;
    padding: var(--pixelSize4) var(--pixelSize10);
}

.customPageSubSections-left
{
   width: 65%;
   margin: var(--pixelSize10) auto;
   padding:var(--pixelSize4) 0;

}

.customPageSubSections-left1
{
   width: 100%;
   margin: var(--pixelSize10) auto;
   padding:var(--pixelSize4) 0;

}



.customPageSubSections-right
{
   width: 34%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: var(--pixelSize10) auto;
   padding:var(--pixelSize4) 0;

}

.actionBtnBelowTableSection
{
    display: flex;
    gap:var(--pixelSize10);
    align-items: center;
    padding: var(--pixelSize10);
    justify-content: end;
    width: 100%;
}

.actionableFooterSection
{
    display: flex;
    gap:var(--pixelSize10);
    align-items: center;
    padding: var(--pixelSize10);
    justify-content: end;
    width: 100%;
}

.accountSectionInfo
{
    margin: 1px 0px !important;
    padding: 0px !important;
}

.accountSectionInfo .form-group
{
    padding: 5px var(--pixelSize8) 0px 0px !important;
}

.accountSectionInfoL
{
    margin: 1px 0px !important;
    padding: 0px !important;
    
}
.accountSectionInfoR
{
    margin: var(--pixelSize4) 0px !important;
    padding: 0px var(--pixelSize10) !important;
    border: 1px solid var(--lightGreenShade4);
    border-radius: var(--pixelSize4);
    width: 100%;
    
}

.accountSectionInfoR1
{
    margin: var(--pixelSize4) 0px !important;
    padding: 0px var(--pixelSize10) !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.accountSectionInfoData
{
    margin: 1px 0px !important;
    padding: 0px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    width: 100%;
}

.accountSectionInfoData .extraFilterSection1
{
    width: 79%;
}

.accountSectionInfoData .extraFilterSection2
{
    width: 100%;
    text-align: end;
    padding:1px;
}
.accountSectionInfoData .extraFilterSection3
{
    width: 45%;
}

.accountSectionInfoData .extraFilterSection4
{
    width: 45%;
    display: flex;
    align-items: end;
    gap: var(--pixelSize10);
}
.accountSectionInfoData .extraFilterSection5
{
    margin: var(--pixelSize10) 0px 0px;
    width: 100%;
    display: flex;
    align-items: end;
    gap: var(--pixelSize10);
    justify-content: end;
    border-top:1px solid var(--lightGreyShade8) ;
    padding: var(--pixelSize10) 0px 0px;
}

.accountSectionInfoData .extraFilterSection6
{
    align-items: end;
    display: flex;
    padding: 0px 0px 4px;
    width: 72%;

}

.accountSectionInfoData .extraFilterSection7
{
    width: 70%;

}

.accountSectionInfoData .extraFilterSection8
{
    width: 100%;
    padding:1px;
}


.accountSectionInfoData1
{
    align-items: end;
    justify-content: left !important;  
}

.accountSectionInfoData1 .filterActControlSection6
{
    width: auto;
    margin: 0px 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountSectionInfoData1 .filterActControlSection7
{
    width: auto;
    margin: 0px 10px 0px 0px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.accountSectionInfoR1 .filterActControlSection
{
    width: 26%;
    display: flex;
    gap: 1px;
    flex-direction: column;
}

.accountSectionInfoR1 .filterActControlSection2
{
    width: 20%;
    display: flex;
    gap: 1px;
    flex-direction: column;
    justify-content: end;
}
.accountSectionInfoR1 .filterActControlSection3
{
    width: 12%;
    display: flex;
    gap: 1px;
    flex-direction: column;
    justify-content: end;
}

.accountSectionInfoR1 .filterActControlSection4
{
    width: 15%;
    display: flex;
    gap: 1px;
    flex-direction: column;
    justify-content: end;
}
.accountSectionInfoR1 .filterActControlSection5
{
    width: 12%;
    display: flex;
    gap: 1px;
    flex-direction: column;
    justify-content: end;
}



.accountSectionInfoR1 .filterActControlSection1
{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.accountSectionInfoR1 .filterActControlSection1  .btn-success
{
    text-transform: uppercase;
}


.btn-success
{
    padding: var(--pixelSize4) var(--pixelSize10) !important;
    font-size: var(--pixelSize13);
    text-align: center;
    border-radius: var(--pixelSize10);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}


.accountSectionInfoR1 .page-section-tablecontent
{
    width: 100%;
    padding: var(--pixelSize10) 0;
}


.informationSection1
{
    padding: var(--pixelSize4) var(--pixelSize10);
    border-bottom: 1px solid var(--lightGreyShade3);
    justify-content: space-between;
    display: flex;
    width: 33%;
}



.informationSection
{
    padding: var(--pixelSize4) var(--pixelSize10);
    border-bottom: 1px solid var(--lightGreyShade3);
}


.commonTextTitleLabel
{
    
    font-size: var(--pixelSize12) !important;
    color:var(--darkGreyBlackShade2) !important;
    font-weight:400 !important;
    margin: 0px 0px 1px !important;
}

.commonTextTitleLabelValue
{
    
    font-size: var(--pixelSize13) !important;
    color:var(--blueShade2) !important;
    font-weight:600 !important;
    margin: 0px 1px 1px !important;
}



.collapsedPane .mainAppSiderSection {
  
   -webkit-animation: conditionalClose 1s normal forwards ease-in-out;
   -moz-animation: conditionalClose 1s normal forwards ease-in-out;
        animation: conditionalClose 1s normal forwards ease-in-out;
-webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}

@-webkit-keyframes conditionalClose {
    from { left: 0 }
    to {  left: -260px; }
}
@-moz-keyframes conditionalClose {
    from { left: 0 }
    to {  left: -260px; }
}
@keyframes conditionalClose {
    from { left: 0 }
    to {  left: -260px; }
}



.collapsedPane .collapsedIconBtn-Icon
{
    transform: rotate(180deg);
    margin-left: 10px;
}


.expanedPane .mainAppSiderSection {
  
    -webkit-animation: conditionalOpen 1s normal forwards ease-in-out;
    -moz-animation: conditionalOpen 1s normal forwards ease-in-out;
         animation: conditionalOpen 1s normal forwards ease-in-out;
 -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
         transform-origin: 100% 0%;
 }
 
 @-webkit-keyframes conditionalOpen {
    from { left: -230px; }
    to {  left: 0px; }
 }
 @-moz-keyframes conditionalOpen {
    from { left: -230px; }
    to {  left: 0px; }
 }
 @keyframes conditionalOpen {
     from { left: -230px; }
     to {  left: 0px; }
 }
 

 .expanedPane .onlyIconMenuShow
 {
    display: none !important;
 }

 .iconMenuWhenCollpased
{
    color:var(--white);
    font-size: var(--pixelSize22);
    margin: 0px  var(--pixelSize4);
    width: 100%;
}

 .collapsedPane .onlyIconMenuShow
 {
    display: flex !important;
    justify-content: end;
    padding: 10px 15px;
    gap: var(--pixelSize22);
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;

 }


.collapsedPane .mainAppSiderSection .vertical-nav-menu {
    display: none !important;
 }
.app-main.collapsedPane .outMainMaster  {
    padding-left: 65px !important;
 }


.collapseBtnSection
{
    padding: 0 var(--pixelSize4) var(--pixelSize4);
    width: 100%;
    display: flex;
    justify-content: end;
    border-bottom:1px solid var(--white) ;
}

  
.collapsedIconBtn-Icon
{
  color:var(--white);
  font-size: var(--pixelSize20);
  margin: 0px  var(--pixelSize4);
}

.collapsedIconBtn
{
    background: transparent !important;
    padding: var(--pixelSize8) var(--pixelSize4) !important;
    color: var(--white);
    font-size: var(--pixelSize12);
    border: 0px solid var(--blueShade8) !important;
    text-align: center;
    border-radius: var(--pixelSize10);
    box-shadow: 0px 0px 1px 1px var(--blueShade8) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    gap:var(--pixelSize10);
}

.collapsedIconBtn:focus,
.collapsedIconBtn:hover
{
    background: transparent !important;
    border: 0px solid var(--blueShade4) !important;
    color: var(--white) !important;
}



/*tooltip*/
.tooltipControl 
{
    cursor: pointer;
}


  .tooltipControl .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--white);
    color:var(--blueShade2);
    text-align: center;
    border-radius: var(--pixelSize10);
    padding:var(--pixelSize4) 0;
  
    /* Position the tooltip */
    position: fixed;
    z-index: 1;
    left: 50px;
    box-shadow: 0px 0px 2px 1px var(--lightGreyShade4);
    font-weight: 500;
    font-size: var(--pixelSize12);
  }
  


  .tooltipControl .tooltiptext1 {
    top: 110px;
  }

  .tooltipControl:hover .tooltiptext1 {
    visibility: visible;
  }

  .tooltipControl .tooltiptext2{
    top:155px;
  }

  .tooltipControl:hover .tooltiptext2 {
    visibility: visible;
  }

  
  .tooltipControl .tooltiptext3{
    top:200px;
  }

  .tooltipControl:hover .tooltiptext3 {
    visibility: visible;
  }

  .tooltipControl .tooltiptext4{
    top:245px;
  }

  .tooltipControl:hover .tooltiptext4 {
    visibility: visible;
  }


.paddInrow
{
    padding: 10px !important;
}
.paddInrowLR0
{
    padding: 10px 0 !important;
}


.nomineeActionSaveSection
{
      display: flex;
      gap:10px;
      padding:10px;
}

.btnsCollectioninTable
{
    display: flex;
    gap: var(--pixelSize4);
}

.btnsCollectioninInTabsLeftSide
{
    display: flex;
    gap: var(--pixelSize4);
    padding: var(--pixelSize8) var(--pixelSize20);
}

.btn:disabled
{
    background: #cccccc !important;
    border: 1px solid #989898 !important;
    outline: 1px solid #989898 !important;
    box-shadow: none;
    cursor: not-allowed;
}


.mrgtb10AutoLR
{
    margin: var(--pixelSize10) auto  !important;

}

