<div class="row">
    <div class="col-lg-12">

        <div class="main-card mb-3 card">
            <div class="card-body">

                <h5 class="card-title">Cashier Transactions</h5>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0" (click)="loadSummary()">
                            <span>Transactions Summary</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-0" data-toggle="tab" href="#tab-content-1">
                            <span>Cash Receipt</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-0" data-toggle="tab" href="#tab-content-2">
                            <span>Cash Payment</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-3">
                            <span>Cash Exchange</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <fieldset>
                            <legend>Summary</legend>
                            <div class="row">
                                <form [formGroup]="cashierSummaryForm" #form="ngForm">
                                    <div class="col-md-12">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td></td>
                                                <td><label>Receipt </label></td>
                                                <td><label>Payment</label></td>
                                            </tr>
                                            <tr>
                                                <td> <label>Total Passed</label></td>
                                                <td><input tabindex="28" type="text" class="form-control" readonly
                                                        placeholder="0" formControlName="receiptTotal"></td>
                                                <td> <input tabindex="28" type="text" class="form-control" readonly
                                                        placeholder="0" formControlName="paymentTotal"></td>
                                            </tr>
                                            <tr>
                                                <td><label>Passing Pending Cash </label></td>
                                                <td> <input tabindex="28" type="text" class="form-control" readonly
                                                        placeholder="0" formControlName="receiptPendingCash"></td>
                                                <td><input tabindex="28" type="text" class="form-control" readonly
                                                        placeholder="0" formControlName="paymentPendingCash"></td>
                                            </tr>
                                            <!-- <tr>
                                            <td></td>
                                            <td></td>
                                            <td><input tabindex="28" type="text" class="form-control" placeholder="Total Payment Pending Cash"></td>
                                        </tr> -->
                                        </table>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-2">
                                                <button class="btn btn-focus" tabindex="2" data-toggle="modal"
                                                    data-target="#statusDenominationModel" *ngIf="isCashierUser()"> 
                                                    Cash Status</button>

                                                <!-- <button class="btn btn-focus" tabindex="2" data-toggle="modal"
                                                    style="margin-left: 20px;" data-target="#statusDenominationModel">
                                                    Approve</button>

                                                <button class="btn btn-focus" tabindex="2" data-toggle="modal"
                                                    style="margin-left: 20px;" data-target="#statusDenominationModel">
                                                    Reject</button> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <table style="width: 100%; margin-top: 15px;"
                                            class="table table-hover table-striped table-bordered dataTable dtr-inline">
                                            <thead>
                                                <tr role="row">
                                                    <th style="width: 5%; padding: .25rem;">S. No</th>
                                                    <th style="width: 8%; padding: .25rem;">Voucher No</th>
                                                    <th style="width: 20%; padding: .25rem;">Customer</th>
                                                    <th style="width: 20%; padding: .25rem;">GL</th>
                                                    <th style="width: 10%; padding: .25rem;">A/C Number</th>
                                                    <th style="width: 9%; padding: .25rem;">Amount</th>
                                                    <!-- <th style="width: 10%; padding: .25rem;">Int GL</th> -->
                                                    <th style="width: 8%; padding: .25rem;">CD Flag</th>
                                                    <th style="width: 15%; padding: .25rem;">Narration</th>
                                                    <th style="width: 5%; padding: .25rem;">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row"  *ngFor="let transaction of pendingTransactions; let ind=index">
                                                    <td>{{ind + 1}}</td>
                                                    <td>{{transaction.VoucherNo}}</td>
                                                    <td>{{transaction.CustomerName}}</td>
                                                    <td>{{transaction.GL}}</td>
                                                    <td>{{transaction.AccountNumber}}</td>
                                                    <td>{{transaction.Amount}}</td>
                                                    <!-- <td>{{transaction.title}}</td> -->
                                                    <td>{{transaction.CDFlag}}</td>
                                                    <td>{{transaction.Narration}}</td>
                                                    <td><div class="widget-content-right">
                                                        <button type="button" placeholder="View Details"
                                                            class="btn-shadow btn btn-info btn-actions">
                                                            <span class="btn-icon-wrapper opacity-10">
                                                                <i class="fa fa-info fa-w-10"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </td>
                                                </tr>
                                                <tr *ngIf="pendingTransactions.length==0">
                                                    <td colspan="9">No transactions found..</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                    <div class="tab-pane tabs-animation fade show" id="tab-content-1" role="tabpanel">
                        <app-cashier-cash-receipt></app-cashier-cash-receipt>
                    </div>
                    <div class="tab-pane tabs-animation fade show" id="tab-content-2" role="tabpanel">
                        <app-cashier-cash-payment></app-cashier-cash-payment>
                    </div>
                    <div class="tab-pane tabs-animation fade" id="tab-content-3" role="tabpanel">
                        <app-cashier-cash-exchange></app-cashier-cash-exchange>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg show" id="statusDenominationModel" tabindex="-1" role="dialog"
    aria-labelledby="denominationModelTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0.5rem 1rem !important;">
                <h5 class="modal-title" id="denominationModelTitle">Denomination</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <app-denominations></app-denominations>
            </div>
        </div>
    </div>
</div>