<fieldset>
    <legend>Current Cash Status</legend>
    <form #form="ngForm" [formGroup]="cashStatusForm">
        <table class="table table-hover table-bordered dataTable dtr-inline table-compressed">
            <thead>
                <tr role="row">
                    <th style="width: 6%;">Nos</th>
                    <th style="width: 30%;">Denomination</th>
                    <th style="width: 2%;"></th>
                    <th style="width: 30%;">Quantity</th>
                    <th style="width: 2%;"></th>
                    <th style="width: 30%;">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" *ngFor="let cashStatusDenomination of cashStatusDenominations; let ind=index">
                    <td>{{ind + 1}}</td>
                    <td>{{cashStatusDenomination.denomination_Label}} </td>
                    <td>X</td>
                    <td><input type="number" width="100%" [disabled]="true" [value]="cashStatusDenomination.quantity">
                    </td>
                    <td>=</td>
                    <td>
                        <input type="number" width="100%" [disabled]="true" [value]="cashStatusDenomination.total">
                    </td>
                </tr>
                <tr role="row">
                    <td colspan="3"></td>
                    <td>Total Amount</td>
                    <td>=</td>
                    <td>
                        {{totalCashOpenAmountText.value}}
                    </td>
                </tr>
            </tbody>
        </table>
    </form>


</fieldset>