<div class="row">
    <div class="col-lg-12">

        <div class="main-card mb-3 card">
            <div class="card-body">

                <h5 class="card-title">Customers</h5>
                <ul class="nav nav-tabs" style="margin-top: 20px;">
                    <li class="nav-item">
                        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                            <span>Personal Details</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                            <span>Address</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2">
                            <span>Nominee</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-3">
                            <span>KYC Documents</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <form [formGroup]="personalDetailsForm" #form="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row">

                                            <div class="col-md-3 position-relative" style="display: flex !important;">
                                                <div class="col-md-6 position-relative" style="padding-left: unset;">
                                                    <label for="txtCode" class="">Customer No.</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Customer No." readonly formControlName="customerCode">
                                                </div>
                                                <div class="col-md-6 position-relative" style="padding-right: unset;">
                                                    <label for="txtCode" class="">Title <span class="mandatory">*</span></label>
                                                    <select class="mb-2 form-control" tabindex="1"
                                                        formControlName="personalTitle">
                                                        <option *ngFor="let uiTitle of uiTitles" [ngValue]="uiTitle.constantNo">
                                                            {{uiTitle.constantname}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-3 position-relative">
                                                <label for="txtCode" class="">First Name <span class="mandatory">*</span> </label>
                                                <input tabindex="2" type="text" class="form-control" placeholder="First Name" autocomplete="off"
                                                    formControlName="personalFirstName" maxlength="50"
                                                    [class.is-invalid]="personalFirstName.invalid && (personalFirstName.dirty || personalFirstName.touched)">
                                                <div *ngIf="personalFirstName.invalid && (personalFirstName.dirty || personalFirstName.touched)" class="invalid-feedback">
                                                    <div *ngIf="personalFirstName.errors?.['required']">
                                                        First Name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 position-relative">
                                                <label for="txtCode" class="">Middle Name</label>
                                                <input tabindex="3" type="text" class="form-control" placeholder="Middle Name" maxlength="50"
                                                autocomplete="off"  formControlName="personalMiddleName">
                                            </div>
                                            <div class="col-md-3 position-relative">
                                                <label for="txtCode" class="">Last Name <span class="mandatory">*</span></label>
                                                <input tabindex="4" type="text" class="form-control" placeholder="Last Name"
                                                autocomplete="off"  formControlName="personalLastName" maxlength="50"
                                                [class.is-invalid]="personalLastName.invalid && (personalLastName.dirty || personalLastName.touched)">
                                                <div *ngIf="personalLastName.invalid && (personalLastName.dirty || personalLastName.touched)" class="invalid-feedback">
                                                    <div *ngIf="personalLastName.errors?.['required']">
                                                        Last Name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Phone</label>
                                                <input tabindex="5" type="text" class="form-control" placeholder="Phone" maxlength="10" 
                                                autocomplete="off"  formControlName="personalPhone">
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Mobile <span class="mandatory">*</span></label>
                                                <input tabindex="6" type="text" class="form-control" placeholder="Mobile" maxlength="10"
                                                autocomplete="off"  formControlName="personalMobile"
                                                [class.is-invalid]="personalMobile.invalid && (personalMobile.dirty || personalMobile.touched)">
                                                <div *ngIf="personalMobile.invalid && (personalMobile.dirty || personalMobile.touched)" class="invalid-feedback">
                                                    <div *ngIf="personalMobile.errors?.['required']">
                                                        Mobile is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Date Of Birth <span class="mandatory">*</span></label>
                                                <input tabindex="7" type="date" class="form-control"
                                                    (change)="onPersonalDOBChange($event)"
                                                    formControlName="personalDateOfBirth"
                                                    [max]="maxDate | date:'yyyy-MM-dd'"
                                                    [class.is-invalid]="personalDateOfBirth.invalid && (personalDateOfBirth.dirty || personalDateOfBirth.touched)">
                                                <div *ngIf="personalDateOfBirth.invalid && (personalDateOfBirth.dirty || personalDateOfBirth.touched)" class="invalid-feedback">
                                                    <div *ngIf="personalDateOfBirth.errors?.['required']">
                                                        Date Of Birth is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Age (Yrs)</label>
                                                <input tabindex="8" type="text" class="form-control" placeholder="Age"
                                                autocomplete="off"   formControlName="personalAge">
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Joining Date <span class="mandatory">*</span></label>
                                                <input tabindex="9" type="date" class="form-control"
                                                  formControlName="personalOpenDate"
                                                  [class.is-invalid]="personalOpenDate.invalid && (personalOpenDate.dirty || personalOpenDate.touched)">
                                                  <div *ngIf="personalOpenDate.invalid && (personalOpenDate.dirty || personalOpenDate.touched)" class="invalid-feedback">
                                                      <div *ngIf="personalOpenDate.errors?.['required']">
                                                        Joining Date is required.
                                                      </div>
                                                  </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Email</label>
                                                <input tabindex="10" type="email" class="form-control" placeholder="Email" 
                                                autocomplete="off"  formControlName="personalEmail" maxlength="50"
                                                [class.is-invalid]="personalEmail.invalid && (personalEmail.dirty || personalEmail.touched)">
                                                  <div *ngIf="personalEmail.invalid" class="invalid-feedback">
                                                    Email is invalid.
                                                  </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">PAN <span class="mandatory">*</span></label>
                                                <input tabindex="11" type="text" class="form-control" placeholder="PAN" maxlength="50"
                                                autocomplete="off"  formControlName="personalPAN" style="text-transform:uppercase"
                                                [class.is-invalid]="personalPAN.invalid && (personalPAN.dirty || personalPAN.touched)">
                                                  <div *ngIf="personalPAN.invalid && (personalPAN.dirty || personalPAN.touched)" class="invalid-feedback">
                                                      <div *ngIf="personalPAN.errors?.['required']">
                                                        PAN is required.
                                                      </div>
                                                  </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Aadhar Number <span class="mandatory">*</span></label>
                                                <input tabindex="12" type="text" class="form-control" placeholder="Aadhar" maxlength="50"
                                                autocomplete="off"   formControlName="personalAadhar" style="text-transform:uppercase"
                                                [class.is-invalid]="personalAadhar.invalid && (personalAadhar.dirty || personalAadhar.touched)">
                                                <div *ngIf="personalAadhar.invalid && (personalAadhar.dirty || personalAadhar.touched)" class="invalid-feedback">
                                                    <div *ngIf="personalAadhar.errors?.['required']">
                                                        Aadhar Number is required.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Gender <span class="mandatory">*</span></label>
                                                <select class="mb-2 form-control" tabindex="13"
                                                    formControlName="personalGender">
                                                    <option *ngFor="let uiGender of uiGenders"
                                                        [ngValue]="uiGender.constantNo">
                                                        {{uiGender.constantname}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 position-relative">
                                                <label for="txtCode" class="">Customer Group <span class="mandatory">*</span></label>
                                                <select class="mb-2 form-control" tabindex="14"
                                                    formControlName="personalCustGroup">
                                                    <option *ngFor="let uiCustomerGroup of uiCustomerGroups"
                                                        [ngValue]="uiCustomerGroup.constantNo">
                                                        {{uiCustomerGroup.constantname}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 position-relative">
                                                <label for="txtCode" class="">Customer Zone <span class="mandatory">*</span></label>
                                                <select class="mb-2 form-control" tabindex="15"
                                                    formControlName="personalCustZone">
                                                    <option *ngFor="let uiCustomerZone of uiCustomerZones"
                                                        [ngValue]="uiCustomerZone.constantNo">
                                                        {{uiCustomerZone.constantname}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 position-relative">
                                                <label for="txtCode" class="">Caste</label>
                                                <select class="mb-2 form-control" tabindex="16"
                                                    formControlName="personalCustCaste">
                                                    <option *ngFor="let uiCaste of uiCastes"
                                                        [ngValue]="uiCaste.constantNo">
                                                        {{uiCaste.constantname}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 position-relative">
                                                <label for="txtCode" class="">Religion</label>
                                                <select class="mb-2 form-control" tabindex="17"
                                                    formControlName="personalCustReligion">
                                                    <option *ngFor="let uiReligion of uiReligions"
                                                        [ngValue]="uiReligion.constantNo">
                                                        {{uiReligion.constantname}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Occupation</label>
                                                <select class="mb-2 form-control" tabindex="18"
                                                    formControlName="personalOccupation">
                                                    <option *ngFor="let uiOccupation of uiOccupations"
                                                        [ngValue]="uiOccupation.constantNo">
                                                        {{uiOccupation.constantname}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Marital Status</label>
                                                <select class="mb-2 form-control" tabindex="19"
                                                    formControlName="personalMaritalStatus">
                                                    <option *ngFor="let uiMaritalStatus of uiMaritalStatuses"
                                                        [ngValue]="uiMaritalStatus.constantNo">
                                                        {{uiMaritalStatus.constantname}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Nationality</label>
                                                <select class="mb-2 form-control" tabindex="20"
                                                    formControlName="personalNationality">
                                                    <option *ngFor="let uiNationality of uiNationalities"
                                                        [ngValue]="uiNationality.constantNo">
                                                        {{uiNationality.constantname}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Education</label>
                                                <select class="mb-2 form-control" tabindex="21"
                                                    formControlName="personalEducation">
                                                    <option *ngFor="let uiEducation of uiEducations"
                                                        [ngValue]="uiEducation.constantNo">
                                                        {{uiEducation.constantname}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Customer Category</label>
                                                <select class="mb-2 form-control" tabindex="22"
                                                    formControlName="personalCustCategory">
                                                    <option *ngFor="let uiCustomerCategory of uiCustomerCategories"
                                                        [ngValue]="uiCustomerCategory.constantNo">
                                                        {{uiCustomerCategory.constantname}}
                                                    </option>
                                                </select>
                                            </div>
                                           
                                        </div>

                                        <!-- <div class="row">
                                             
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">TDS applicable</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="17" formControlName="personalTDSApplicable">
                                                    <option *ngFor="let uiTdsApplicable of uiTdsApplicables"
                                                        [ngValue]="uiTdsApplicable.code">
                                                        {{uiTdsApplicable.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">TDS printing</label>
                                                <select class="mb-2 form-control"
                                                    tabindex="18" formControlName="personalTDSPrinting">
                                                    <option *ngFor="let uiTdsPrinting of uiTdsPrintings"
                                                        [ngValue]="uiTdsPrinting.code">
                                                        {{uiTdsPrinting.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Rate</label>
                                                <input tabindex="19" type="text" class="form-control" placeholder="TDS Rate"
                                                    formControlName="personalTDSRate">
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Form 60</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="20" formControlName="personalForm60">
                                                    <option *ngFor="let uiForm60 of uiForm60YN"
                                                        [ngValue]="uiForm60.code">
                                                        {{uiForm60.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 position-relative form-group">
                                                <label for="txtCode" class="">Form 61</label>
                                                <select class="mb-2 form-control" 
                                                    tabindex="21" formControlName="personalForm61">
                                                    <option *ngFor="let uiForm61 of uiForm61YN"
                                                        [ngValue]="uiForm61.code">
                                                        {{uiForm61.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 position-relative form-group">
                                                <label for="txtCode" class="">Member</label>
                                                <ngx-select-dropdown [config]="config" tabindex="10" (change)="selectMember($event)"
                                                    [options]="uiMembers" style="width: 100%;" [multiple]="false"
                                                    formControlName="personalMember"></ngx-select-dropdown>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                        <form [formGroup]="addressForm" #form="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row">
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Address Type <span class="mandatory">*</span></label>
                                                <select class="mb-2 form-control" tabindex="23"
                                                    formControlName="addressType">
                                                    <option *ngFor="let uiAddressType of uiAddressTypes"
                                                        [ngValue]="uiAddressType.constantNo">
                                                        {{uiAddressType.constantname}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Address <span class="mandatory">*</span></label>
                                                <input tabindex="24" type="text" class="form-control" placeholder="Address"
                                                    formControlName="addressText" maxlength="450"
                                                    [class.is-invalid]="addressText.invalid && (addressText.dirty || addressText.touched)">
                                                <div *ngIf="addressText.invalid && (addressText.dirty || addressText.touched)" class="invalid-feedback">
                                                    <div *ngIf="addressText.errors?.['required']">
                                                        Address is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">City/Town <span class="mandatory">*</span></label>
                                                <input tabindex="25" type="text" class="form-control" placeholder="City/Town"
                                                    formControlName="addressCity" maxlength="49"
                                                    [class.is-invalid]="addressCity.invalid && (addressCity.dirty || addressCity.touched)">
                                                    <div *ngIf="addressCity.invalid && (addressCity.dirty || addressCity.touched)" class="invalid-feedback">
                                                        <div *ngIf="addressCity.errors?.['required']">
                                                            City is required.
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">State <span class="mandatory">*</span></label>
                                                <select class="mb-2 form-control"
                                                    (change)="onAddressStateChange($event)" tabindex="26"
                                                    formControlName="addressState">
                                                    <option *ngFor="let uiAddressState of uiAddressStates"
                                                        [ngValue]="uiAddressState.id">
                                                        {{uiAddressState.stateName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">District <span class="mandatory">*</span></label>
                                                <select class="mb-2 form-control"
                                                    (change)="onAddressDistrictChange($event)" tabindex="27"
                                                    formControlName="addressDistrict">
                                                    <option *ngFor="let uiAddressDistrict of uiAddressDistricts"
                                                        [ngValue]="uiAddressDistrict.id">
                                                        {{uiAddressDistrict.districtName}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Taluka <span class="mandatory">*</span></label>
                                                <select class="mb-2 form-control" tabindex="28"
                                                    formControlName="addressTaluka">
                                                    <option *ngFor="let uiAddressTahshil of uiAddressTahshils"
                                                        [ngValue]="uiAddressTahshil.id">
                                                        {{uiAddressTahshil.talukaName}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Pincode <span class="mandatory">*</span></label>
                                                <input tabindex="29" type="text" class="form-control" placeholder="Pincode"
                                                 autocomplete="off" formControlName="addressPincode" maxlength="6"
                                                 [class.is-invalid]="addressPincode.invalid && (addressPincode.dirty || addressPincode.touched)">
                                                 <div *ngIf="addressPincode.invalid && (addressPincode.dirty || addressPincode.touched)" class="invalid-feedback">
                                                     <div *ngIf="addressPincode.errors?.['required']">
                                                         Pincode is required.
                                                     </div>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 position-relative form-group">
                                                <button class="mt-1 btn btn-info" (click)="addAddress()"
                                                    tabindex="30">Save Address</button>
                                                <button class="mt-1 btn btn-left-margin10 btn-danger"
                                                    (click)="clearAddress()" tabindex="23">Clear</button>
                                            </div>
                                        </div>

                                        <table class="mb-0 table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="15%">Address Type</th>
                                                    <th width="15%">Address</th>
                                                    <th width="15%">City</th>
                                                    <th width="15%">Taluka</th>
                                                    <th width="15%">District</th>
                                                    <th width="12%">Default</th>
                                                    <th width="13%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let uiAddress of uiAddresses | paginate: { itemsPerPage: 10, currentPage: p_address, totalItems: total_address }; let ind = index">
                                                    <ng-container *ngIf="uiAddress.status!='D'">
                                                        <td>{{uiAddress.addressTypeName}}</td>
                                                        <td>{{uiAddress.address}}</td>
                                                        <td>{{uiAddress.city}}</td>
                                                        <td>{{uiAddress.talukaName}}</td>
                                                        <td>{{uiAddress.districtName}}</td>
                                                        <td>
                                                            <div *ngIf="uiAddress.isDefault" >
                                                                Yes
                                                            </div>
                                                            <div *ngIf="!uiAddress.isDefault" >
                                                                No
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="widget-content-right">
                                                                <button type="button" placeholder="Edit record"
                                                                    class="btn-shadow btn btn-info btn-actions"
                                                                    (click)="editAddress(uiAddress, ind)">
                                                                    <span class="btn-icon-wrapper opacity-10">
                                                                        <i class="fa fa-edit fa-w-10"></i>
                                                                    </span>
                                                                </button>
                                                                <button type="button" placeholder="Delete record"
                                                                    class="btn-shadow btn btn-danger btn-actions"
                                                                    data-toggle="modal" data-target="#deleteModal"
                                                                    (click)="deleteAddress(uiAddress, ind)">
                                                                    <span class="btn-icon-wrapper opacity-10">
                                                                        <i class="fa fa-trash fa-w-20"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                </tr>
                                                <tr *ngIf="uiAddresses.length==0">
                                                    <td colspan="7">No records found..</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
                        <form [formGroup]="nominiForm" #form="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row">
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Nominee Name <span class="mandatory">*</span></label>
                                                <input tabindex="31" type="text" class="form-control" placeholder="Nominee Name"
                                                  formControlName="nominiName" maxlength="149"
                                                  [class.is-invalid]="nominiName.invalid && (nominiName.dirty || nominiName.touched)">
                                                  <div *ngIf="nominiName.invalid && (nominiName.dirty || nominiName.touched)" class="invalid-feedback">
                                                      <div *ngIf="nominiName.errors?.['required']">
                                                        Nominee Name is required.
                                                      </div>
                                                  </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Address <span class="mandatory">*</span></label>
                                                <input tabindex="32" type="text" class="form-control"
                                                    placeholder="Address" formControlName="nominiAddress" maxlength="500"
                                                    [class.is-invalid]="nominiAddress.invalid && (nominiAddress.dirty || nominiAddress.touched)">
                                                    <div *ngIf="nominiAddress.invalid && (nominiAddress.dirty || nominiAddress.touched)" class="invalid-feedback">
                                                        <div *ngIf="nominiAddress.errors?.['required']">
                                                          Address is required.
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Date Of Birth <span class="mandatory">*</span></label>
                                                <input tabindex="33" type="date" class="form-control"
                                                    (change)="onNominDOBChange($event)"
                                                    [max]="maxDate | date:'yyyy-MM-dd'"
                                                    formControlName="nominiDateOfBirth"
                                                    [class.is-invalid]="nominiDateOfBirth.invalid && (nominiDateOfBirth.dirty || nominiDateOfBirth.touched)">
                                                    <div *ngIf="nominiDateOfBirth.invalid && (nominiDateOfBirth.dirty || nominiDateOfBirth.touched)" class="invalid-feedback">
                                                        <div *ngIf="nominiDateOfBirth.errors?.['required']">
                                                          Date of Birth is required.
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Age</label>
                                                <input tabindex="34" type="text" class="form-control" placeholder="Age"
                                                    formControlName="nominiAge">
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Relation <span class="mandatory">*</span></label>
                                                <select class="mb-2 form-control" tabindex="35"
                                                    formControlName="nominiRelation">
                                                    <option *ngFor="let uiRelation of uiRelations"
                                                        [ngValue]="uiRelation.constantNo">
                                                        {{uiRelation.constantname}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Guardian (for minor)</label>
                                                <input tabindex="36" type="text" class="form-control" placeholder="Guardian" 
                                                maxlength="49"   formControlName="nominiGuardian">
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Nominee share percentage <span class="mandatory">*</span></label>
                                                <div class="input-group">
                                                    <input tabindex="37" type="text" class="form-control"
                                                        placeholder="Percentage" formControlName="nominiPercentage"  maxlength="3"
                                                        [class.is-invalid]="nominiPercentage.invalid && (nominiPercentage.dirty || nominiPercentage.touched)">
                                                        <div *ngIf="nominiPercentage.invalid && (nominiPercentage.dirty || nominiPercentage.touched)" class="invalid-feedback">
                                                            <div *ngIf="nominiPercentage.errors?.['required']">
                                                             Percentage is required.
                                                            </div>
                                                        </div>
                                                    <div class="input-group-append"><span
                                                            class="input-group-text">%</span></div>
                                                </div>

                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Mobile/Phone <span class="mandatory">*</span></label>
                                                <input tabindex="38" type="text" class="form-control" placeholder="Mobile/Phone"
                                                    formControlName="nominiPhone"  maxlength="10" 
                                                    [class.is-invalid]="nominiPhone.invalid && (nominiPhone.dirty || nominiPhone.touched)">
                                                        <div *ngIf="nominiPhone.invalid && (nominiPhone.dirty || nominiPhone.touched)" class="invalid-feedback">
                                                            <div *ngIf="nominiPhone.errors?.['required']">
                                                             Phone is required.
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 position-relative form-group">
                                                <button class="mt-1 btn btn-info" (click)="addNomini()"
                                                    tabindex="39">Save Nominee</button>
                                                <button class="mt-1 btn btn-left-margin10 btn-danger"
                                                    (click)="clearNomini()" tabindex="40">Clear</button>
                                            </div>
                                        </div>

                                        <table class="mb-0 table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="20%">Name</th>
                                                    <th width="10%">Relation</th>
                                                    <th width="15%">Percentage</th>
                                                    <th width="20%">Address</th>
                                                    <th width="15%">Phone</th>
                                                    <th width="15%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let uiNomini of uiNominis | paginate: { itemsPerPage: 10, currentPage: p_nomini, totalItems: total_nomini }; let ind = index">
                                                    <ng-container *ngIf="uiNomini.status!='D'">
                                                        <td>{{uiNomini.nomineeName}}</td>
                                                        <td>{{uiNomini.relationName}}</td>
                                                        <td>{{uiNomini.percentage}}</td>
                                                        <td>{{uiNomini.nomineeAddress}}</td>
                                                        <td>{{uiNomini.phone}}</td>
                                                        <td>
                                                            <div class="widget-content-right">
                                                                <button type="button" placeholder="Edit record"
                                                                    class="btn-shadow btn btn-info btn-actions"
                                                                    (click)="editNomini(uiNomini, ind)">
                                                                    <span class="btn-icon-wrapper opacity-10">
                                                                        <i class="fa fa-edit fa-w-10"></i>
                                                                    </span>
                                                                </button>
                                                                <button type="button" placeholder="Delete record"
                                                                    class="btn-shadow btn btn-danger btn-actions"
                                                                    data-toggle="modal" data-target="#deleteModal"
                                                                    (click)="deleteNomini(uiNomini, ind)">
                                                                    <span class="btn-icon-wrapper opacity-10">
                                                                        <i class="fa fa-trash fa-w-20"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                </tr>
                                                <tr *ngIf="uiNominis.length==0">
                                                    <td colspan="6">No records found..</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane tabs-animation fade" id="tab-content-3" role="tabpanel">
                        <form [formGroup]="documentsForm" #form="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row">
                                            <div class="col-md-3 position-relative form-group">
                                                <label for="txtCode" class="">Select document to add</label>
                                                <select class="mb-2 form-control" tabindex="41"
                                                    formControlName="documentSelect">
                                                    <option *ngFor="let uiDocumentType of uiDocumentTypes"
                                                        [ngValue]="uiDocumentType.code">
                                                        {{uiDocumentType.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 position-relative form-group">
                                                <button class="mt-1 btn btn-info" style="margin-top: 30px !important"
                                                    tabindex="42" (click)="addDocument()">
                                                    Add
                                                </button>
                                            </div>

                                        </div>

                                        <div class="row" *ngFor="let uiDocument of uiDocuments; let ind = index">
                                            <div class="col-md-12 position-relative form-group">
                                                <table class="mb-0 table table-striped">
                                                    <tr>
                                                        <td width="10%">{{uiDocument.documentName}}</td>
                                                        <td width="40%">
                                                            <input tabindex="1" type="file" class="form-control"
                                                                (change)="uploadDocument($event, ind, uiDocument.documentKey)">

                                                        </td>
                                                        <td width="5%"><button class="mt-1 btn btn-info">
                                                                Upload
                                                            </button></td>
                                                        <td width="5%"> <button class="mt-1 btn btn-info"
                                                                (click)="deleteDocument(ind)">
                                                                Delete
                                                            </button></td>
                                                        <td width="15%">
                                                            Upload Percent: {{uiDocument.percentDone}}%
                                                        </td>
                                                        <td width="25%">
                                                            <ng-container *ngIf="uiDocument.uploadSuccess">
                                                                Upload Successful
                                                            </ng-container>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="5">
                                                            {{uiDocument.filePath}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="divider" style="margin-bottom: 0.5rem !important"></div>

                <div class="row">
                    <div class="col-md-6 position-relative">
                        <button class="mt-1 btn btn-primary" (click)="saveCustomer()" tabindex="23">Submit</button>
                        <button class="mt-1 btn btn-left-margin10 btn-danger" (click)="clear()">Clear</button>
                        <button class="mt-1 btn btn-left-margin10 btn-secondary" (click)="searchCustomer()">Search Customer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>