<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">General Master</h5>
                <div class="row">
                    <div class="col-md-6 position-relative">
                        <label for="txtCode" class="">Select Master</label>
                        <select class="mb-2 form-control">
                            <option>Default Select</option>
                        </select>
                    </div>
                    <div class="col-md-6 position-relative form-group">
                        <button class="btn btn-info" style="margin-top: 30px;">Show List
                        </button>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtCode" class="">Code</label>
                        <input name="code" id="txtCode" tabindex="1" readonly="true" maxlength="10" placeholder="0"
                            type="text" class="form-control">
                    </div>
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtName" class="">Name</label>
                        <input name="masterName" id="txtName" tabindex="2" maxlength="50" placeholder="Name"
                            type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 position-relative">
                        <button class="mt-1 btn btn-primary">Submit</button>
                        <button class="mt-1 btn btn-left-margin10 btn-secondary">Clear</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>