<form [formGroup]="cashierPaymentForm" #form="ngForm">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-3 position-relative form-group">
                        <label for="txtCode" class="">Enter Token No</label>
                        <input tabindex="28" type="text" class="form-control" placeholder="Token Number"
                            formControlName="tokenId">
                    </div>
                    <div class="col-md-3 position-relative form-group">
                        <button class="btn btn-info" tabindex="2" style="margin-top: 28px;" (click)="searchToken()">
                            Search</button>
                    </div>
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Account Details</legend>
                            <div class="row">

                                <div class="col-md-3 position-relative form-group">
                                    <label for="txtCode" class="">Branch </label>
                                    <input tabindex="28" type="text" class="form-control" readonly placeholder="Branch"
                                        formControlName="branch">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label for="txtCode" class="">General Ledger </label>
                                    <input tabindex="28" type="text" class="form-control" readonly placeholder="General Ledger"
                                        formControlName="generalLedger">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label for="txtCode" class="">Account Number</label>
                                    <input tabindex="28" type="text" class="form-control" readonly placeholder="Account Number"
                                        formControlName="accountNumber">
                                </div>

                                <div class="col-md-12" style="margin-top: 10px;">
                                    <div class="customer-panel">
                                        <table style="width: 100%;"
                                            class="table table-hover table-striped table-bordered dataTable dtr-inline">
                                            <thead>
                                                <tr role="row">
                                                    <th style="width: 10%; padding: .25rem;">Account Number</th>
                                                    <th style="width: 10%; padding: .25rem;">Account Type</th>
                                                    <th style="width: 10%; padding: .25rem;">Balance</th>
                                                    <th style="width: 10%; padding: .25rem;">Last Trans Date</th>
                                                    <th style="width: 10%; padding: .25rem;">Opening Date</th>
                                                    <th style="width: 10%; padding: .25rem;">Mode of Operation</th>
                                                    <th style="width: 10%; padding: .25rem;">Min Balance</th>
                                                    <th style="width: 10%; padding: .25rem;">Last Int. Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" *ngFor="let uiBankAccount of uiBankAccounts" class="odd">
                                                    <td>{{uiBankAccount.accountNo}}</td>
                                                    <td>{{uiBankAccount.accountNo}}</td>
                                                    <td>{{uiBankAccount.accountNo}}</td>
                                                    <td>{{uiBankAccount.accountNo}}</td>
                                                    <td>{{uiBankAccount.accountNo}}</td>
                                                    <td>{{uiBankAccount.accountNo}}</td>
                                                    <td>{{uiBankAccount.accountNo}}</td>
                                                    <td>{{uiBankAccount.customerCodeStr}}</td>
                                                </tr>
                                                <tr *ngIf="uiBankAccounts.length==0">
                                                    <td colspan="9">No records..</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-12">
                        <fieldset>
                            <legend>Transaction Details</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Transaction Amount </label>
                                            <input tabindex="28" type="number" class="form-control" readonly placeholder="Amount"
                                                formControlName="transactionAmount">
                                        </div>
                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Transaction Description </label>
                                            <input tabindex="28" type="text" class="form-control" readonly placeholder="Reason"
                                                formControlName="transactionDesc">
                                        </div>

                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Account Balance Will be </label>
                                            <input tabindex="28" type="number" class="form-control" readonly
                                                formControlName="balanceAmountWillBe">
                                        </div>
                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Cheque No </label>
                                            <input tabindex="28" type="text" class="form-control" readonly
                                                placeholder="Cheque No" formControlName="chequeNo">
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 position-relative form-group">
                                            <label for="txtCode" class="">Cheque Date </label>
                                            <input tabindex="28" type="date" class="form-control"
                                                formControlName="chequeDate">
                                        </div>

                                        <div class="col-md-6 position-relative form-group" style="margin-top: 30px;">
                                            <button class="btn btn-success" tabindex="2" data-toggle="modal"
                                                data-target="#paymentDenominationModel"> Denomination</button>
                                            <button class="btn btn-primary btn btn-left-margin10" tabindex="2"
                                                (click)="makeTransaction()">
                                                Finish</button>
                                            <button class="btn btn-danger btn btn-left-margin10" tabindex="2">
                                                Reject</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- <legend>Denomination</legend> -->
                                    <label for="txtCode" class="">Denomination</label>
                                    <!-- Add a denomination table -->
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade bd-example-modal-lg show" id="paymentDenominationModel" tabindex="-1" role="dialog"
    aria-labelledby="denominationModelTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0.5rem 1rem !important;">
                <h5 class="modal-title" id="denominationModelTitle">Denomination</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <app-denominations></app-denominations>
            </div>
        </div>
    </div>
</div>