<form [formGroup]="cashierPaymentForm" #form="ngForm">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Account Details</legend>
                            <div class="row">
                                <div class="col-md-2 position-relative form-group">
                                    <label class="">Enter Token No</label>
                                    <input tabindex="28" type="text" class="form-control" placeholder="Token Number"
                                        formControlName="tokenId">
                                </div>
                                <div class="col-md-1 position-relative form-group">
                                    <button class="btn btn-info" tabindex="2" style="margin-top: 28px;" (click)="fetchVoucher()">
                                        Search</button>
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Branch </label>
                                    <input tabindex="28" type="text" class="form-control" readonly placeholder="Branch"
                                        formControlName="branch">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">General Ledger </label>
                                    <input tabindex="28" type="text" class="form-control" readonly placeholder="General Ledger"
                                        formControlName="generalLedger">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Account Number</label>
                                    <input tabindex="28" type="text" class="form-control" readonly placeholder="Account Number"
                                        formControlName="accountNumber">
                                </div>

                                <div class="col-md-12" style="margin-top: 10px;">
                                    <div class="customer-panel">
                                        <table style="width: 100%;"
                                        class="table table-hover table-striped table-bordered dataTable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                <th style="width: 2%; padding: .25rem;">No</th>
                                                <th style="width: 15%; padding: .25rem;">Customer</th>
                                                <th style="width: 15%; padding: .25rem;">GL</th>
                                                <th style="width: 15%; padding: .25rem;">A/C Number</th>
                                                <th style="width: 10%; padding: .25rem;">Amount</th>
                                                <th style="width: 5%; padding: .25rem;">Int Flag</th>
                                                <th style="width: 15%; padding: .25rem;">Int GL</th>
                                                <th style="width: 15%; padding: .25rem;">Narration</th>
                                                <th style="width: 5%; padding: .25rem;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row"  *ngFor="let transaction of uiVoucherDetails; let ind=index">
                                                <td>{{ind + 1}}</td>
                                                <td>{{transaction.customerName}}</td>
                                                <td>{{transaction.GL}}</td>
                                                <td>{{transaction.accountNumber}}</td>
                                                <td>{{transaction.amount}}</td>
                                                <td>{{transaction.intFlag}}</td>
                                                <td>{{transaction.intGLName}}</td>
                                                <td>{{transaction.transaction_Narration}}</td>
                                                <td><div class="widget-content-right">
                                                    <button type="button" placeholder="View Details"
                                                        class="btn-shadow btn btn-info btn-actions">
                                                        <span class="btn-icon-wrapper opacity-10">
                                                            <i class="fa fa-info fa-w-10"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </td>
                                            </tr>
                                            <tr *ngIf="uiVoucherDetails.length==0">
                                                <td colspan="9">No transactions found..</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-8">
                        <fieldset>
                            <legend>Transaction Details</legend>
                            <div class="row">
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Transaction Amount </label>
                                    <input tabindex="28" type="number" class="form-control" readonly formControlName="transactionAmount">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Transaction Description </label>
                                    <input tabindex="28" type="text" class="form-control" readonly formControlName="transactionDesc">
                                </div>
                        
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Account Balance Will be </label>
                                    <input tabindex="28" type="number" class="form-control" readonly formControlName="balanceAmountWillBe">
                                </div>
                        
                        
                            </div>
                            <div class="row">
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Cheque No </label>
                                    <input tabindex="28" type="text" class="form-control" readonly formControlName="chequeNo">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Cheque Date </label>
                                    <input tabindex="28" type="date" class="form-control" readonly formControlName="chequeDate">
                                </div>
                        
                                <!-- <div class="col-md-9 position-relative form-group" style="margin-top: 30px;">
                                                                    <button class="btn btn-success" tabindex="2" data-toggle="modal"
                                                                        data-target="#paymentDenominationModel">Add Denomination</button>
                                                                    
                                                                </div> -->
                                <div class="col-md-3 position-relative form-group" style="margin-top: 30px;">
                                    <button class="btn btn-success" tabindex="2" (click)="openDenominations()"
                                    *ngIf="isCashierUser()">
                                        Add Denomination</button>
                                </div>
                            </div>
                        
                            <label style="font-weight: bold;">Denominations</label>
                            <div class="col-md-12">
                                <div class="row">
                                    <table style="width: 100%;" class="table table-hover table-bordered dataTable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                <th style="width: 5%;">Nos</th>
                                                <th style="width: 15%;">Denomination</th>
                                                <th style="width: 20%;">Number (Receipt)</th>
                                                <th style="width: 20%;">Receipt Total</th>
                                                <th style="width: 20%;">Number (Payment)</th>
                                                <th style="width: 17%;">Payment Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" *ngFor="let uiTransactionDenomination of uiTransactionDenominations; let ind=index">
                                                <td>{{ind + 1}}</td>
                                                <td>{{uiTransactionDenomination.denomination_Label}}</td>
                                                <td>{{uiTransactionDenomination.receiptNumber}}</td>
                                                <td>{{uiTransactionDenomination.receiptTotal}}</td>
                                                <td>{{uiTransactionDenomination.paymentNumber}}</td>
                                                <td>{{uiTransactionDenomination.paymentTotal}}</td>
                                            </tr>
                                            <tr *ngIf="uiTransactionDenominations.length==0">
                                                <td colspan="9">No denominations found..</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-info" style="float: right;" *ngIf="isCashierUser()">
                                        Customer Identity</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset>
                            <legend>Account Details</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Customer Name </label>
                                    <label style="float: right;">{{customerName.value}}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>Account Number </label>
                                    <label style="float: right;">{{accountNumber.value}}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>Account Type </label>
                                    <label style="float: right;">{{accountType.value}}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>Last Transaction Date </label>
                                    <label style="float: right;">{{lastTransactionDate.value}}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>Last Interest Date</label>
                                    <label style="float: right;">{{lastInterestDate.value}}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>Opening Date</label>
                                    <label style="float: right;">{{openDate.value}}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>Interest Rate </label>
                                    <label style="float: right;">{{interestRate.value}}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>Balance </label>
                                    <label style="float: right;">{{balance.value}}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>Min Balance </label>
                                    <label style="float: right;">{{minBalance.value}}</label>
                                </div>
                                <div class="col-md-12" [ngClass]="{'blink': (unclearedReceipt.value > 0)}">
                                    <label>Uncleared Receipt Amount </label>
                                    <label style="float: right;">{{unclearedReceipt.value}}</label>
                                </div>
                                <div class="col-md-12" [ngClass]="{'blink': (unclearedPayment.value > 0)}">
                                    <label>Uncleared Payment Amount </label>
                                    <label style="float: right;">{{unclearedPayment.value}}</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="col-md-8">
                        <button class="btn btn-primary" style="float: left;" tabindex="2" (click)="makeTransaction()"
                        *ngIf="isCashierUser()">
                            Finish Transaction</button>
                        <button class="btn btn-danger btn-left-margin10" style="float: left;" tabindex="2" (click)="clearTransaction()"
                        *ngIf="isCashierUser()">
                            Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<app-denominations #denominationModal [denominationAmount]="transactionAmount.value" [transactionType]="transactionType"
    (addedDenominations)="setDenominations($event)"></app-denominations>