<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Branches</h5>
                <div class="row">
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtCode" class="">Code</label>
                        <input name="code" id="txtCode" tabindex="1" readonly="true" maxlength="10" placeholder="0"
                            type="text" class="form-control">
                    </div>
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtName" class="">Name</label>
                        <input name="priorityName" id="txtName" tabindex="2" maxlength="50" placeholder="Name"
                            type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 position-relative form-group">
                        <label for="txtName" class="">Address</label>
                        <div class="input-group">
                            <input placeholder="Address" tabindex="3" step="1" type="text" maxlength="100"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtName" class="">Phone</label>
                        <div class="input-group">
                            <input placeholder="Phone" tabindex="4" step="1" type="text" maxlength="20"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtName" class="">Email</label>
                        <div class="input-group">
                            <input placeholder="Email" tabindex="4" step="1" type="email" maxlength="20"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtName" class="">Opening Date</label>
                        <div class="input-group">
                            <input tabindex="4" step="1" type="date" maxlength="20"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 position-relative form-group">
                        <label for="txtName" class="">Distance From Head Office</label>
                        <div class="input-group">
                            <input placeholder="Distance" tabindex="4" step="1" type="number" maxlength="20"
                                class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 position-relative">
                        <button class="mt-1 btn btn-primary">Submit</button>
                        <button class="mt-1 btn btn-left-margin10 btn-secondary">Clear</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>