<form [formGroup]="transferCreditForm" #form="ngForm">
    <div class="customPageSubSections">
        <div class="customPageSubSectionsHead1">
            <div class="customPageSubSectionsHeadTitle2">Debit Accounts</div> 
            <div class="accountSectionInfoR1">
                <div class="accountSectionInfoData">                  
                    <div class="extraFilterSection2">
                           <button class="bth action-DefaultBtn minWidth120" tabindex="2" (click)="selectDebitAccount()"
                                    *ngIf="isOperatorUser()">Add
                                       Debit Account</button>
                    </div>                    
                </div>


                <div class="page-section-tablecontent">  
                    <table class="table table-striped">
                                        <thead>
                                            <tr role="row">
                                                <th style="width: 3%; padding: .25rem;">No</th>
                                                <th style="width: 15%; padding: .25rem;">Customer</th>
                                                <th style="width: 15%; padding: .25rem;">GL</th>
                                                <th style="width: 10%; padding: .25rem;">A/C Number</th>
                                                <th style="width: 10%; padding: .25rem;">Dr Amount</th>
                                                <th style="width: 6%; padding: .25rem;">Int Flag</th>
                                                <th style="width: 15%; padding: .25rem;">Int GL</th>
                                                <th style="width: 6%; padding: .25rem;">CT Flag</th>
                                                <th style="width: 15%; padding: .25rem;">Narration</th>
                                                <th style="width: 5%; padding: .25rem;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row"
                                                *ngFor="let uiDebitAccount of uiDebitAccounts; let ind=index">
                                                <td>{{ind + 1}}</td>
                                                <td>{{uiDebitAccount.customerName}}</td>
                                                <td>{{uiDebitAccount.glName}}</td>
                                                <td>{{uiDebitAccount.accountNumber}}</td>
                                                <td>{{uiDebitAccount.amount}}</td>
                                                <td>0</td>
                                                <td>{{uiDebitAccount.payableGLName}}</td>
                                                <td>{{uiDebitAccount.ctFlagText}}</td>
                                                <td>{{uiDebitAccount.narration}}</td>
                                                <td>
                                                    <div class="widget-content-right">
                                                        <button type="button" placeholder="Delete" (click)="deleteDebitAccount(ind)"
                                                            class="btn-shadow btn btn-danger btn-actions">
                                                            <span class="btn-icon-wrapper opacity-10">
                                                                <i class="fa fa-trash fa-w-10"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr *ngIf="uiDebitAccounts.length==0">
                                                <td class="noRecordFoundText" colspan="12">No accounts found..</td>
                                            </tr>
                                        </tbody>
                    </table> 
                </div>  
            </div>
        </div>
    </div>

    <div class="customPageSubSections">
        <div class="customPageSubSectionsHead1">
            <div class="customPageSubSectionsHeadTitle2">Transaction Balance</div> 
             <div class="accountSectionInfoR1">
                <div class="accountSectionInfoData">
                    <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Debit Amount </label>
                        <input tabindex="1" type="number" class="form-control" readonly placeholder="Debit Amount"
                                        formControlName="debitAmount">
                    </div>
                    <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Cheque No </label>
                        <input tabindex="2" type="text" class="form-control" formControlName="chequeNo">
                    </div>
                    <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Cheque Date  </label>
                        <input tabindex="3" type="text" class="form-control" formControlName="chequeDate"
                                    bsDatepicker [bsConfig]="datepickerConfig">
                    </div>
                     <div class="filterActControlSection4">                       
                       <button class="btn action-InfoBtn"  tabindex="4"
                                    *ngIf="isOperatorUser()">Customer Identity</button>
                    </div>

                     <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Total Credit Amount </label>
                       <input tabindex="5" type="text" class="form-control" readonly
                                        formControlName="creditAmount">
                    </div>

                     <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Difference </label>
                        <input tabindex="6" type="text" class="form-control" readonly
                                        formControlName="differenceAmount">
                    </div>
    
                    
                </div>
            </div>
        </div>
    </div>

      <div class="customPageSubSections">
        <div class="customPageSubSectionsHead1">
            <div class="customPageSubSectionsHeadTitle2">Credit Accounts</div> 
            <div class="accountSectionInfoR1">
                <div class="accountSectionInfoData">                  
                    <div class="extraFilterSection2">
                            <button class="bth action-DefaultBtn minWidth120" tabindex="2" (click)="selectCreditAccount()"
                                    *ngIf="isOperatorUser()">Add
                                       Credit Account</button>
                    </div>                    
                </div>


                <div class="page-section-tablecontent">  
                                 <table class="table table-striped">
                                        <thead>
                                            <tr role="row">
                                                <th style="width: 3%; padding: .25rem;">No</th>
                                                <th style="width: 15%; padding: .25rem;">Customer</th>
                                                <th style="width: 15%; padding: .25rem;">GL</th>
                                                <th style="width: 10%; padding: .25rem;">A/C Number</th>
                                                <th style="width: 10%; padding: .25rem;">Cr Amount</th>
                                                <th style="width: 6%; padding: .25rem;">Int Flag</th>
                                                <th style="width: 15%; padding: .25rem;">Int GL</th>
                                                <th style="width: 6%; padding: .25rem;">CT Flag</th>
                                                <th style="width: 15%; padding: .25rem;">Narration</th>
                                                <th style="width: 5%; padding: .25rem;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row"
                                                *ngFor="let uiCreditAccount of uiCreditAccounts; let ind=index">
                                                <td>{{ind + 1}}</td>
                                                <td>{{uiCreditAccount.customerName}}</td>
                                                <td>{{uiCreditAccount.glName}}</td>
                                                <td>{{uiCreditAccount.accountNumber}}</td>
                                                <td>{{uiCreditAccount.amount}}</td>
                                                <td>0</td>
                                                <td>{{uiCreditAccount.payableGLName}}</td>
                                                <td>{{uiCreditAccount.ctFlagText}}</td>
                                                <td>{{uiCreditAccount.narration}}</td>
                                                <td>
                                                    <div class="widget-content-right">
                                                        <button type="button" placeholder="Delete" (click)="deleteCreditAccount(ind)"
                                                            class="btn-shadow btn btn-danger btn-actions">
                                                            <span class="btn-icon-wrapper opacity-10">
                                                                <i class="fa fa-trash fa-w-10"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr *ngIf="uiCreditAccounts.length==0">
                                                <td class="noRecordFoundText" colspan="12">No accounts found..</td>
                                            </tr>
                                        </tbody>
                                    </table>        
                  
                </div>  
            </div>
        </div>
    </div>

    <div class="actionableFooterSection"> 
        <button class="btn action-primatryBtn" tabindex="2"
            (click)="makeTransaction()" *ngIf="isOperatorUser()">
            Finish Transaction</button>

        <button class="btn btn-danger" tabindex="2"
                (click)="clearTransaction()" *ngIf="isOperatorUser()">
                Clear</button>
    </div>
</form>
          

<app-account-selector #accountSelectorModal (account)="addAccount($event)"></app-account-selector>

<app-confirm-box #confirmModal [messageNote]="messageNote" (onConfirm)="onConfirmed($event)">
</app-confirm-box>

<app-message-box #messageBoxModal [messageNotes]="messageNotes"
    (onConfirm)="onTransactionConfirmed($event)"></app-message-box>