<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Loan account details</h5>
                <form [formGroup]="summaryForm" #form="ngForm">
                    <div class="row">
                        <div class="col-md-3 position-relative">
                            <label class="">General Ledger</label>
                            <div class="input-group">
                                <ngx-select-dropdown [config]="config" tabindex="1" [options]="uiLoanGeneralLedgers"
                                    style="width: 100%;" formControlName="generalLedger"
                                    [multiple]="false" [ngClass]="{'disabled': true}"></ngx-select-dropdown>
                            </div>
                        </div>

                        <div class="col-md-3 position-relative form-group">
                            <label class="">Account Number</label>
                            <div class="input-group">
                                <input tabindex="2" type="text" readonly class="form-control" formControlName="glAccountNumberStr">
                            </div>
                        </div>
                        <div class="col-md-3 position-relative form-group">
                            <label class="">Customer Number</label>
                            <div class="input-group">
                                <input tabindex="3" type="text" readonly class="form-control" formControlName="customerCode">
                            </div>
                        </div>
                        <div class="col-md-3 position-relative form-group">
                            <label class="">Customer Name</label>
                            <div class="input-group">
                                <input tabindex="4" type="text" readonly class="form-control" formControlName="customerName">
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a role="tab" class="nav-link active" id="tab-3" data-toggle="tab" href="#tab-content-0">
                            <span>Parameters</span>
                        </a>
                    </li>
                    <li class="nav-item" [ngClass]="{'disabled': !isGoldLoan}">
                        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-1">
                            <span>Gold Loan</span>
                        </a>
                    </li>
                    <li class="nav-item" [ngClass]="{'disabled': !isLeinFD && !isCashCredit}">
                        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-2">
                            <span>Deposit Loan</span>
                        </a>
                    </li>
                    <li class="nav-item" [ngClass]="{'disabled': !isVehicleLoan && !isMortgageLoan}">
                        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-3">
                            <span>Installment Loan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-4">
                            <span>Installments</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <!-- Parameters -->
                        <form [formGroup]="parametersForm" #form="ngForm">
                            <div class="row">
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Saction Amount <span class="mandatory">*</span></label>
                                    <input tabindex="5" type="number" class="form-control" formControlName="sanctionAmount"
                                        (change)="setIntallmentSactionAmount()">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Saction Date <span class="mandatory">*</span></label>
                                    <input tabindex="6" type="text" class="form-control" formControlName="sanctionDate"
                                        (change)="calculateFirstInstallmentDate()" bsDatepicker [bsConfig]="datepickerConfig">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Saction By <span class="mandatory">*</span></label>
                                    <select class="mb-2 form-control" tabindex="7" formControlName="sanctionBy">
                                        <option *ngFor="let uiDirector of uiDirectors" [ngValue]="uiDirector.id">
                                            {{uiDirector.directorName}}
                                        </option>
                                    </select>
                                </div>
                    
                                <div class="col-md-3 position-relative form-group">
                                    <label class=""> Loan Tenure in Months <span class="mandatory">*</span></label>
                                    <input tabindex="8" type="number" class="mb-2 form-control" formControlName="loanTenureInMonths" min="0"
                                        (change)="calculateMatureDate()" onKeyPress="if(this.value.length >=4) return false;">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Actual Loan Amount <span class="mandatory">*</span></label>
                                    <input tabindex="9" type="number" class="form-control" formControlName="actualLoanAmount"
                                        (change)="setIntallmentActualAmount()">
                                </div>
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Interest Rate <span class="mandatory">*</span></label>
                                    <input tabindex="10" type="number" class="mb-2 form-control" formControlName="interestRate" min="0"
                                        onKeyPress="if(this.value.length >=3) return false;" >
                                </div>
                    
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Amount Advances <span class="mandatory">*</span></label>
                                    <input tabindex="11" type="number" min="0" class="form-control" formControlName="amountAdvances">
                                </div>
                    
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Changes In Interest Rate Applicable</label>
                                    <select class="mb-2 form-control" tabindex="12" formControlName="changesInInterestApplicable">
                                        <option *ngFor="let uiChangesInInterestRate of uiChangesInInterestRateYN"
                                            [ngValue]="uiChangesInInterestRate.code">
                                            {{uiChangesInInterestRate.name}}
                                        </option>
                                    </select>
                                </div>
                    
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Maturity Date <span class="mandatory">*</span></label>
                                    <input tabindex="13" type="text" class="mb-2 form-control" formControlName="maturityDate" 
                                    bsDatepicker [bsConfig]="datepickerConfig">
                                </div>
                    
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Resolution No</label>
                                    <input tabindex="14" type="text" class="form-control" formControlName="resolutionNo">
                                </div>
                    
                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Resolution Date</label>
                                    <input tabindex="15" type="text" class="form-control" formControlName="resolutionDate"
                                    bsDatepicker [bsConfig]="datepickerConfig">
                                </div>

                                <div class="col-md-3 position-relative form-group">
                                    <label class="">Paid On <span class="mandatory">*</span></label>
                                    <input tabindex="16" type="text" class="form-control" formControlName="paidDate"
                                        (change)="modifyMaturityDate()" bsDatepicker [bsConfig]="datepickerConfig">
                                </div>

                            </div>
                            
                        </form>
                    </div>

                    <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                        <app-gold-loan (goldLoanDetails)="getGoldLoanDetails($event)"></app-gold-loan>
                    </div>

                    <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" [ngClass]="{'disabled': !isLeinFD}">
                                <a role="tab" class="nav-link" [ngClass]="{'active': isLeinFD}" id="tab-1" data-toggle="tab" href="#subtab-content-fd-0">
                                    <span>Lien FD</span>
                                </a>
                            </li>
                            <li class="nav-item" [ngClass]="{'disabled': !isCashCredit}">
                                <a role="tab" class="nav-link" [ngClass]="{'active': isCashCredit}" id="tab-0" data-toggle="tab" href="#subtab-content-fd-1">
                                    <span>Cash Credit</span>
                                </a>
                            </li>
                           
                            <li class="nav-item" [ngClass]="{'disabled': true}">
                                <a role="tab" class="nav-link" id="tab-0" data-toggle="tab" href="#subtab-content-fd-2">
                                    <span>Over Draft </span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane tabs-animation fade" [ngClass]="{'show active': isLeinFD}" id="subtab-content-fd-0" role="tabpanel">
                                <app-lien-fd-loan (depositLoanDetails)="getDepositLoanDetails($event)"></app-lien-fd-loan>
                            </div>

                            <div class="tab-pane tabs-animation fade" [ngClass]="{'show active': isCashCredit}" id="subtab-content-fd-1" role="tabpanel">
                                <app-cash-credit-loan></app-cash-credit-loan>
                            </div>
                            <div class="tab-pane tabs-animation fade" id="subtab-content-fd-2" role="tabpanel">
                               
                            </div>
                           
                        </div>
                    </div>

                    <div class="tab-pane tabs-animation fade" id="tab-content-3" role="tabpanel">

                        <ul class="nav nav-tabs">
                            <li class="nav-item" [ngClass]="{'disabled': !isVehicleLoan}">
                                <a role="tab" class="nav-link" [ngClass]="{'active': isVehicleLoan}" id="tab-0" data-toggle="tab" href="#subtab-content-inst-0">
                                    <span>Vehicle </span>
                                </a>
                            </li>
                            <li class="nav-item" [ngClass]="{'disabled': !isMortgageLoan}">
                                <a role="tab" class="nav-link" [ngClass]="{'active': isMortgageLoan}" id="tab-0" data-toggle="tab" href="#subtab-content-inst-1">
                                    <span>Mortgage</span>
                                </a>
                            </li>
                            
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane tabs-animation fade" [ngClass]="{'show active': isVehicleLoan}" id="subtab-content-inst-0" role="tabpanel">
                                <app-vehicle-loan (vehicleDetails)="getVehicleDetails($event)"></app-vehicle-loan>
                            </div>
                            <div class="tab-pane tabs-animation fade" [ngClass]="{'show active': isMortgageLoan}" id="subtab-content-inst-1" role="tabpanel">
                               <app-loan-security (loanSecurityDetails)="getLoanSecurityDetails($event)"></app-loan-security>
                            </div>
                            <!-- <div class="tab-pane tabs-animation fade" id="subtab-content-inst-2" role="tabpanel">
                                
                            </div> -->
                        </div>
                    </div>

                    <div class="tab-pane tabs-animation fade" id="tab-content-4" role="tabpanel">
                        <form [formGroup]="installmentsForm" #form="ngForm">
                            
                            <div class="row">
                                <div class="col-md-2 position-relative form-group">
                                    <label class="">Installment Type <span class="mandatory">*</span></label>
                                    <select class="form-control" tabindex="1" formControlName="instInstallmentType" (change)="changeInstallmentType()">
                                        <option *ngFor="let uiInstallmentType of uiInstallmentTypes" [ngValue]="uiInstallmentType.code">
                                            {{uiInstallmentType.name}}
                                        </option>
                                    </select>
                                </div>
                    
                                <div class="col-md-2 position-relative form-group">
                                    <label class="">Number of Installments <span class="mandatory">*</span></label>
                                    <input tabindex="1" type="number" class="form-control" formControlName="instNumberOfInstallments">
                                </div>
                    
                                <div class="col-md-2 position-relative form-group">
                                    <label class="">First Installment Date <span class="mandatory">*</span></label>
                                    <input tabindex="1" type="text" class="form-control" formControlName="instFirstInstallmentDate"
                                        (change)="validateFirstInstallmentDate()" bsDatepicker [bsConfig]="datepickerConfig">
                                </div>
                    
                                <div class="col-md-2 position-relative form-group">
                                    <label class="">Installment With Interest <span class="mandatory">*</span></label>
                                    <select class="form-control" tabindex="1" formControlName="instInstallWithInterest">
                                        <option *ngFor="let uiInstallmentWithInterest of uiInstallmentWithInterestYN"
                                            [ngValue]="uiInstallmentWithInterest.code">
                                            {{uiInstallmentWithInterest.name}}
                                        </option>
                                    </select>
                                </div>
                    
                                <div class="col-md-2 position-relative form-group">
                                    <button class="mt-1 btn btn-primary" style="margin-top: 30px !important;" tabindex="23" (click)="showInstallments()">Show
                                        Installments</button>
                                </div>

                                <div class="col-md-2 position-relative form-group">
                                    <label class="">Amount To Be Received</label>
                                    <input tabindex="1" type="text" class="form-control" formControlName="instAmountToBeReceived" readonly>
                                </div>
                    
                                <div style="margin-top: 10px;">
                                    <table style="width: 100%;" class="table table-hover table-striped table-bordered dataTable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                <th style="width: 4%;">#</th>
                                                <th style="width: 16%;">Installment Date</th>
                                                <th style="width: 16%;">Interest Rate</th>
                                                <th style="width: 16%;">Interest</th>
                                                <th style="width: 16%;">Principle</th>
                                                <th style="width: 16%;">Installment Amount</th>
                                                <th style="width: 16%;">Outstanding Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" *ngFor="let installment of uiAllInstallments | paginate: { itemsPerPage: 10, currentPage: p_installments, totalItems: total_installments }; let i = index" class="odd">
                                                <td>{{i+1}}</td>
                                                <td>{{installment.installmentDate}}</td>
                                                <td>{{installment.interestRate}}</td>
                                                <td>{{installment.interestAmount}}</td>
                                                <td>{{installment.principleAmount}}</td>
                                                <td>{{installment.installmentAmount}}</td>
                                                <td>{{installment.outstandingAmount}}</td>
                                            </tr>
                                            <tr *ngIf="uiAllInstallments.length==0">
                                                <td colspan="7">No records..</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                                  </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 position-relative">
                        <button class="mt-1 btn btn-primary" (click)="saveLoanDetails()" *ngIf="isOperatorUser() || isLoanOfficerUser()"
                            tabindex="23">Submit</button>
                            <button class="mt-1 btn btn-left-margin10 btn-success" (click)="authoriseAccount()"  *ngIf="!isAccountAuthorized && (isPassingOfficerUser() || isAdministratorUser())"
                            tabindex="24">Authorise Account</button>
                            <button class="mt-1 btn btn-left-margin10 btn-info" (click)="accountDetails()" *ngIf="isOperatorUser() || isPassingOfficerUser() || isLoanOfficerUser()"
                            tabindex="24">Back to Account</button>
                        <button class="mt-1 btn btn-left-margin10 btn-danger" (click)="clear()" *ngIf="isOperatorUser() || isLoanOfficerUser()"
                            tabindex="25">Clear</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

