

<form [formGroup]="counterPaymentForm" #form="ngForm">

    <!--  Filter Section Start -->
    <div class="customPageSubSections">
        <div class="customPageSubSectionsHead1">
            <div class="customPageSubSectionsHeadTitle2">Account Details</div> 
            <div class="accountSectionInfoR1">
                <div class="accountSectionInfoData">
                    <div class="filterActControlSection2">
                        <label  class="commonTextTitleLabel">Enter Token No</label>
                        <input tabindex="28" type="text" class="form-control" placeholder="Token Number"
                                        formControlName="tokenId" readonly>
                    </div>
                    <div class="extraFilterSection1">
                                <app-bank-acc-search [generalLedgers]="uiFilteredGeneralLedgers"
                                    [uiBranches]="uiBranches" [isReset]="isResetAccountSearch"
                                    (accounts)="getAccounts($event)"></app-bank-acc-search>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <!--  Filter Section End --> 
    


    <!--  account details Section Start --> 
    <div class="customPageSubSections">
        <div class="customPageSubSectionsHead1">
            <div class="customPageSubSectionsHeadTitle2">Account Details</div> 
             <div class="accountSectionInfoR1">
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Customer Name :</label>
                        <label class="commonTextTitleLabelValue">{{customerName.value}}</label>
                    </div> 
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Account Number :</label>
                        <label class="commonTextTitleLabelValue">{{accountNumber.value}}</label>
                    </div> 
                     <div class="informationSection1">
                        <label class="commonTextTitleLabel">Account Type :</label>
                        <label class="commonTextTitleLabelValue">{{accountType.value}}</label>
                    </div> 
                     <div class="informationSection1">
                        <label class="commonTextTitleLabel">Last Transaction Date :</label>
                        <label class="commonTextTitleLabelValue">{{lastTransactionDate.value}}</label>
                    </div> 
                     <div class="informationSection1">
                        <label class="commonTextTitleLabel">Last Interest Date :</label>
                        <label class="commonTextTitleLabelValue">{{lastInterestDate.value}}</label>
                    </div>
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Opening Date :</label>
                        <label class="commonTextTitleLabelValue">{{openDate.value}}</label>
                    </div>
                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Interest Rate :</label>
                        <label class="commonTextTitleLabelValue">{{interestRate.value}}</label>
                    </div>

                    <div class="informationSection1">
                        <label class="commonTextTitleLabel">Balance :</label>
                        <label class="commonTextTitleLabelValue">{{balance.value}}</label>
                    </div>

                     <div class="informationSection1">
                        <label class="commonTextTitleLabel">Min Balance :</label>
                        <label class="commonTextTitleLabelValue">{{minBalance.value}}</label>
                    </div>

                    
                     <div class="informationSection1" [ngClass]="{'blink': (unclearedReceipt.value > 0)}">
                        <label class="commonTextTitleLabel">Uncleared Receipt Amount :</label>
                        <label class="commonTextTitleLabelValue">{{unclearedReceipt.value}}</label>
                    </div>


                    
                     <div class="informationSection1" [ngClass]="{'blink': (unclearedPayment.value > 0)}">
                        <label class="commonTextTitleLabel">Uncleared Payment Amount :</label>
                        <label class="commonTextTitleLabelValue">{{unclearedPayment.value}}</label>
                    </div>


                     
            </div>

        </div>
    </div>
    <!--  account details Section End --> 

    <div class="customPageSubSections">
        <div class="customPageSubSectionsHead1">
            <div class="customPageSubSectionsHeadTitle2">Transaction Details</div> 
             <div class="accountSectionInfoR1">
                <div class="accountSectionInfoData">
                    <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Transaction Amount </label>
                       <input tabindex="28" type="number" class="form-control" placeholder="Amount"
                                        formControlName="transactionAmount" (change)="updateBalance($event)">
                    </div>
                    <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Transaction Description </label>
                       <input tabindex="28" type="text" class="form-control" placeholder="Reason"
                                        formControlName="transactionDesc">
                    </div>
                    <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Account Balance Will be </label>
                        <input tabindex="28" type="number" class="form-control" readonly
                                        formControlName="balanceAmountWillBe">
                    </div>

                     <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Cheque No </label>
                       <input tabindex="28" type="text" class="form-control" placeholder="Cheque No"
                                        formControlName="chequeNo">
                    </div>

                     <div class="filterActControlSection4">
                        <label  class="commonTextTitleLabel">Cheque Date </label>
                        <input tabindex="28" type="text" class="form-control" formControlName="chequeDate" bsDatepicker [bsConfig]="datepickerConfig">
                    </div>
    
                    <div class="filterActControlSection5">
                        <!-- <div class="col-md-3 position-relative form-group" style="margin-top: 30px;">
                                    <button class="btn btn-success" tabindex="2" (click)="openDenominations()">
                                        Add Denomination</button>
                                </div> -->
                       
                    </div>
                </div>   

                <div class="page-section-tablecontent">  
                                       <!-- <label style="font-weight: bold;">Denominations</label>
                            <div class="col-md-12">
                                <div class="row">
                                    <table style="width: 100%;"
                                        class="table table-hover table-bordered dataTable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                <th style="width: 5%;">Nos</th>
                                                <th style="width: 15%;">Denomination</th>
                                                <th style="width: 20%;">Number (Receipt)</th>
                                                <th style="width: 20%;">Receipt Total</th>
                                                <th style="width: 20%;">Number (Payment)</th>
                                                <th style="width: 17%;">Payment Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row"
                                                *ngFor="let uiTransactionDenomination of uiTransactionDenominations; let ind=index">
                                                <td>{{ind + 1}}</td>
                                                <td>{{uiTransactionDenomination.denomination_Label}}</td>
                                                <td>{{uiTransactionDenomination.receiptNumber}}</td>
                                                <td>{{uiTransactionDenomination.receiptTotal}}</td>
                                                <td>{{uiTransactionDenomination.paymentNumber}}</td>
                                                <td>{{uiTransactionDenomination.paymentTotal}}</td>
                                            </tr>
                                            <tr *ngIf="uiTransactionDenominations.length==0">
                                                <td colspan="9">No denominations found..</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->     
                  
                </div>              
    
               
            </div>
        </div>
    </div>

    <div class="actionableFooterSection"> 
        <button class="btn action-InfoBtn" *ngIf="isOperatorUser()">
        Customer Identity</button>
        <button class="btn action-primatryBtn" tabindex="2" (click)="makeTransaction()"
            *ngIf="isOperatorUser()">
                Finish Transaction</button>
            <button class="btn btn-danger" tabindex="2" (click)="clearTransaction()"
            *ngIf="isOperatorUser()">
                Clear</button>
    </div>
</form>
          
<app-message-box #messageBoxModal [messageNotes]="messageNotes"
    (onConfirm)="onTransactionConfirmed($event)"></app-message-box>